@font-face {
  font-family: "code";
  font-style: normal;
  font-weight: normal;
  src: url("Fonts/pragmatapro-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/pragmatapro-webfont.woff2") format("woff2"), url("Fonts/pragmatapro-webfont.woff") format("woff"), url("Fonts/pragmatapro-webfont.ttf") format("truetype"), url("Fonts/pragmatapro-webfont.svg#code") format("svg"); }

.background, .teste .span-strait-16,
.teste .span-16, .teste .span-strait-15,
.teste .span-15, .teste .span-strait-14,
.teste .span-14, .teste .span-strait-13,
.teste .span-13, .teste .span-strait-12,
.teste .span-12, .teste .span-strait-11,
.teste .span-11, .teste .span-strait-10,
.teste .span-10, .teste .span-strait-9,
.teste .span-9, .teste .span-strait-8,
.teste .span-8, .teste .span-strait-7,
.teste .span-7, .teste .span-strait-6,
.teste .span-6, .teste .span-strait-5,
.teste .span-5, .teste .span-strait-4,
.teste .span-4, .teste .span-strait-3,
.teste .span-3, .teste .span-strait-2,
.teste .span-2, .teste .span-strait-1,
.teste .span-1 {
  background: #EEE; }

.teste .span-strait-16 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-16:last-child {
    border-right: none; }

.teste .span-strait-15 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-15:last-child {
    border-right: none; }

.teste .span-strait-14 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-14:last-child {
    border-right: none; }

.teste .span-strait-13 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-13:last-child {
    border-right: none; }

.teste .span-strait-12 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-12:last-child {
    border-right: none; }

.teste .span-strait-11 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-11:last-child {
    border-right: none; }

.teste .span-strait-10 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-10:last-child {
    border-right: none; }

.teste .span-strait-9 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-9:last-child {
    border-right: none; }

.teste .span-strait-8 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-8:last-child {
    border-right: none; }

.teste .span-strait-7 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-7:last-child {
    border-right: none; }

.teste .span-strait-6 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-6:last-child {
    border-right: none; }

.teste .span-strait-5 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-5:last-child {
    border-right: none; }

.teste .span-strait-4 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-4:last-child {
    border-right: none; }

.teste .span-strait-3 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-3:last-child {
    border-right: none; }

.teste .span-strait-2 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-2:last-child {
    border-right: none; }

.teste .span-strait-1 {
  border-right: 1px solid #CCC; }
  .teste .span-strait-1:last-child {
    border-right: none; }

.example .after, .example #logo, .example .ex-logo, .example #top-menu, .example .ex-topo, .example #top-search, .example .wd-checkout-basket-summaryheader, .example .ex-carrinho, .example .ex-busca {
  background: #EEE; }

.example #logo, .example .ex-logo {
  height: 110px; }

.example #top-menu, .example .ex-topo {
  height: 40px; }

.example #top-search, .example .wd-checkout-basket-summaryheader, .example .ex-carrinho, .example .ex-busca {
  height: 62px; }

pre > code.hljs {
  font-family: 'code';
  font-size: 11px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 1em; }
