// ------------------------------------
// ---------------------- BOTOES ------
// ------------------------------------

.btn,button {
  outline: none;
  background-color: $btn-color;
  color: $clear;
  border: none;
  border-radius: $border-radius-base;
  position: relative;
  padding: 1em 2em;
  line-height: 1em;
  display: inline-block;
  font-size: rem(14px);
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  // margin-bottom: 0.3rem; temporariamente desligado
  @extend .text-pull;
  @extend .font-face-title;
  @include transition(all $time $fx);
  &:hover,&:focus,&.btn-hover,&.btn-focus {
    text-decoration: none;
    color: $clear;
    background-color: tint( $btn-color, $tint);
    border-bottom-color: $btn-color;
  }
  &:active,&.btn-active {
    background-color: shade( $btn-color, $tint/2);
    border-bottom-color: shade( $btn-color, $tint/2);
    @extend .text-push;
  }
  border-bottom: none;
  border-bottom-color: shade( $btn-color, $shade);
  &[disabled] {
    background-color: $gray;
    font-weight: 500;
    color: lighten( $gray, 20%);
    @extend .text-push;
    border-bottom-color: shade( $gray, $shade);
  }
  &.btn-text {
    color: $brand-primary-color;
      &:hover {
        color: shade( $brand-primary-color, $shade);
        text-decoration: underline;
      }
  }
  &:last-child {
    margin-bottom: 0;
  }
&.loading {
  position: relative;
  color: rgba(white,.3);
  text-shadow: none;
  cursor: wait;
  &::before {
      @include animation-name(rolling);
     @include animation-duration(.5s);
     @include animation-iteration-count(infinite);
       @include animation-timing-function(linear);
      background: url("../Images/loading-white.png");
      background-size: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 18px;
      width: 18px;
      content: '';
  }
}
}

@include keyframes(rolling) {
  from {
    @include transform(rotateZ(0deg));
  }
  to {
    @include transform(rotateZ(360deg));
  }
}

@mixin btn($name, $color) {
  .btn-#{$name} {
    background-color: $color;
    border-bottom-color: shade( $color, $shade);
    &:hover,&:focus,&.btn-hover,&.btn-focus {
      background-color: tint( $color, $tint);
      border-bottom-color: $color;
    }
    &.btn-text {
      color: $color;
      &:hover,&:active,&:focus {
        color: shade( $color, 25%);
      }
    }
  }
  .obs {
    display: block;
    text-shadow: none;
    margin-top: 0.4em;
    color: rgba(255,255,255,0.7);
  }
}

@include btn('alert',$alert);
@include btn('info',$info);
@include btn('dark',$gray);
@include btn('gray',$gray);
@include btn('light',$gray-lighter);
@include btn('link',$link-color);

.btn-text {
  background: none;
  border: none;
  text-shadow: none;
  &:hover,&:active,&:focus {
    background: none;
    text-shadow: none;
  }
}

// ------------------------------------
// ---------------------- tamanhos ----
// ------------------------------------
.btn-huge {
  font-size: rem(26px);
}
.btn-big {
  font-size: rem(18px);
  line-height: 1.2em;
}
.btn-small {
  font-size: rem(12px);
  padding: 0.8em 1.1em; 
}
.btn-wide {
  width: 100%;
  // padding: .6rem 0;
}

// ------------------------------------
// ---------------------- icones ------
// ------------------------------------
@mixin btn-icon($name,$icon) {
  .btn-icon-#{$name} {
    &:before {
      content: $icon;
      @extend .fa;
      margin-right: 0.5em;
    }
    &.icon-after{
      &:before {
        content: none;
      }
      &:after {
        @extend .fa;
        content: $icon;
        margin-left: 0.5em;
      }
    }
  }
}

@include btn-icon("cart",$fa-var-shopping-cart);
@include btn-icon("search",$fa-var-search);
@include btn-icon("plus",$fa-var-plus-circle);
@include btn-icon("heart",$fa-var-heart-o);
@include btn-icon("cash",$fa-var-money);
@include btn-icon("help",$fa-var-question-circle);
@include btn-icon("talk",$fa-var-comments);
@include btn-icon("mail",$fa-var-envelope);
@include btn-icon("truck",$fa-var-truck);



// ------------------------------------
// ---------------------- dropdown ----
// ------------------------------------
.dropdown {
  position: absolute;
  top: 100%;
  z-index: 100;
  background-color: #FFF;
  border: 1px solid $brand-primary-color;
  padding: 1em;
  @include clearfix;
}

@mixin icon-arrow() {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: 5%;
    margin-right: 6px;
  }
}
.dropdown-icon {
  @include icon-arrow();
  &:before {
    @include triangle(8px, $brand-primary-color, down);
  }
}
.dropdown-icon-right {
  @include icon-arrow();
  &:before {
    @include triangle(8px, $brand-primary-color, right);
    top: 0px;
  }
}
