/*@include font-face("Raleway", "Fonts/raleway-regular-webfont");
@include font-face("Raleway", "Fonts/raleway-thin-webfont",200);
@include font-face("Raleway", "Fonts/raleway-semibold-webfont",700);
@include font-face("Raleway", "Fonts/raleway-bold-webfont",900);
*/

/// default tags
body {
  margin: 0;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $text-color;
}

$i: 6;
@while $i > 0 {
  h#{$i} {
    font-family: $font-family-title;
    margin-top: 0;
    color: $title-color;
    font-weight: normal;
  }
  h#{$i}:last-child {
    margin-bottom:0; 
  }
  $i: $i - 1;
}
h1 {
  font-size: rem(32px); 
}
h2 {
  font-size: rem(26px); 
}
h3 {
  font-size: rem(20px);
}
h4 {
  font-size: rem(18px);
  font-weight: 700;
}
h5 {
  font-size: rem(14px);
  margin-bottom: 0.5em;
}
h6 {
  font-size: rem(12px);
}
p {
  font-size: rem(14px);
  color: $text-color;
  margin: 0.55em 0; }
table {
  font-size: rem(12px);
  td,th {
    border: 1px solid $gray-lighter;
    padding: 0.2em 0.5em;
  }
}

small {
  font-size: rem(12px);
  color: $text-color;
  line-height: 1em; }

a {
  text-decoration: none;
  color: $link-color;
  outline: none;
  &:hover {
    text-decoration: underline;
  }
}

.text-pull {
  text-shadow: none;
}
.text-push {
  text-shadow: none;
}

// classes
.font-face-title {
  font-family: $font-family-base; }
.font-face-default {
  font-family: sans-serif; }

.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

