
// ---- inputs ----
.input {
  border-radius: $border-radius-base;
  background-color: #FFFFFF;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: $gray-lighter;
  color: $gray-dark;
  display: block;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  height: em(40px);
}

#{$all-text-inputs}, select {
  @extend .input;
  &:focus {
    box-shadow: none;
      outline: none;
      border-color: $brand-primary-color;
  }
}
select {
  padding: 0.4em;
}

$search-height: 48px;
.input-search {
  @include clearfix;
  border: none;
  margin: 0;
  border-radius: $border-radius-base;
  position: relative;
  .btn {
    margin: 0;
    text-transform: uppercase;
    height: $search-height;
  }
  input[type='text'] {
      height: $search-height;
      line-height: $search-height;
      border-right: none;
  }
}
.inline-input {
  display: table;
  width: 100%;
  .prefix,.suffix,input,select,.cell,.inner {
    display: table-cell;
    box-sizing: border-box;
  }
  .prefix {
    border-right: 0;
  }
  .suffix {
    border-left: 0;
  }
  .inner {
    border-left: 0;
    border-right: 0;
  }
  .prefix,.suffix,.inner {
    @extend .input;
    text-align: center;
    font-size: 0.8em;
    width: 1em;
    white-space: nowrap;
    background: $gray-lightest;
    padding: 0 1em;
    vertical-align: middle;
  }
}

.field {
  @extend .row;
  margin-bottom: 1em;
  .tool {
    float: right;
  }
}
.inline-field {
  @extend .field; 
  display: table;
  label,.label {
    @include span-columns(4);
    float: none;
    vertical-align: middle;
    padding-right: 1em; 
  }
  #{$all-text-inputs}, textarea {
    @include span-columns(16);
  }
}