
.modal {
  display: none;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  $width: 680px;
  margin-left: auto;
  margin-right: auto;
  width: $width;
  max-width: 100%;
  min-height: 50%;
  background: $clear;
  padding: 2em;
  border-radius: 1em;
  box-shadow: none;
  z-index: 2000;
  .modal-close {
    @extend .fa;
    @extend .fa-times;
    position: absolute;
    top: -8px;
    right: -8px;
    background: $gray;
    color: $clear;
    line-height: 24px;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 100%;
    box-shadow: none;
  }
  @include media($mobile) {
    border-radius: 0;
    top: 0;
    .modal-close {
      top: 8;
      right: 0;
    }
  }
}
.modal-show {
  display: block;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.25);
  z-index: 1999;
}
.overlay-show {
  display: block;
}