
.panel {
  border-top: none;
  background: $clear;
  margin: 1rem 0;
  padding: 1rem;
}

.panel-header {
  @extend h2;
  font-weight: 700;
  margin-top: 0;
  margin: -1rem -1rem 0;
  padding: 1rem;
  color: $title-color;
  @include clearfix;
}
.panel-footer {
  background: $gray-lightest;
  margin: 0 -1rem -1rem;
  padding: 1rem;
  font-size: 0.85em;
  border-top: 20px solid $gray;
  @include clearfix;
}
.panel-content {
  padding: 1rem 0;
}
.panel-title {
  float: left;
  line-height: 24px;
}
.panel-buttons {
  float: right;
  .btn,button {
    height: 100%;
    margin-bottom: 0;
  }
}
.panel-outhead {
  border-top: none;
  .panel-header {
    background: $gray-lightest;
    color: $title-color;
    border-bottom: 3px solid shade($brand-primary-color, $shade);
  }
}

/* Escrever essa parte abaixo de maneira mais integrada ao SCSS */
.panel-outhead .panel-header, article .wd-product-list-buytogether.wd-widget .panel-header, 
article .wd-product-associations.wd-widget .panel-header, article .wd-product-list-buytogether.wd-widget .wd-header, 
article .wd-product-associations.wd-widget .wd-header, .panel-outhead .select-variation-modal-title, 
article .wd-product-list-buytogether.wd-widget .select-variation-modal-title, 
article .wd-product-associations.wd-widget .select-variation-modal-title,
.wd-product-reviews.wd-product-reviews-list.wd-widget .wd-header {
    background: #fff;
    color: $title-color;
    border: none;
    font-weight: 700;
}