.tab-nav {
  @include clearfix;
  overflow: hidden;
  list-style: none;
  margin: 0 -4px;
  padding: 4px 4px 0;
  li {
    float: left;
    &:active {
      @extend .tab-active;
    }
    &:hover {
      @extend .tab-hover;
    }
    a {
      font-size: 0.6rem;
      border: 1px solid $gray-light;
      border-bottom: none;
      display: block;
      outline: none;
      line-height: 1em;
      padding: 2em;
      text-align: center;
      color: $gray-dark;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
.tab-hover {
  a {
    color: $link-color;
    text-decoration: none;
  }
}
.tab-active {
  a {
    border-top: 3px solid ;
    border-top-color: shade($brand-primary-color, $shade);
    background: $clear;
    color: black !important;
  }
}
.tab-content {
  background: $clear;
  padding: 2em;
}
.tab-morph {
  @include clearfix;
  @include media($desktop) {
    .tab-nav {
      @include span-columns(4 of 12);
      li {
        display: block;
        float: none;
      }
    }
    .nav-content {
      @include span-columns(8 of 12);
      @include omega;
    }
  }
  @include media($mobile) {
    .tab-nav {
      li {
        display: block;
        float: none;
      }
    }
  }
  @include media($tablet) {
    .tab-nav {
      display: table;
      li {
        display: table-cell;
        float: none;
      }
    }
  }
}