@import "font-awesome/variables";
@import "font-awesome/path";
@import "font-awesome/core";
@import "bourbon/app/assets/stylesheets/bourbon";

@import "vars";
@import "neat/neat";

@import "grid";
@import "font";
@import "btn";
@import "form";
@import "nav";
@import "tabs";
@import "panel";
@import "modal";


.box-pull {
  box-shadow: none;
}
.box-push {
  box-shadow: none;
}

.inline-row {
  display: table;
  width: 100%;
  .cel-main {
    display: table-cell;
    width: 100%;
  }
  .cel-append {
    display: table-cell;
  }
}

.badge {
  background: $clear;
  color: $brand-primary-color;
  font-size: 0.6rem;
  padding: 0 0.6em;
  margin: 0 0.4em;
  border-radius: 4px;
  text-shadow: none;
  text-align: center;
  min-width: 1.6em;
  display: inline-block;
  line-height: 1.6em;
  white-space: nowrap;
  @extend .box-pull;
  @extend .font-face-default;
}

.label {
  text-transform: uppercase;
  display: block;
  font-size: 0.7em;
  padding: 0.45em 1.1em;
  text-align: center;
  background: #EEE;
}

.label-info {
    color: $clear;
    background: $info;
    border-bottom: 1px solid shade($info, $shade);
}

.anime{
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
  -o-transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
  transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
}
.purge{
  max-height:0;
  max-width:0;
  padding:0;
  margin:0;
  overflow:hidden;
  display: inline-block;
}
