/*
=================================================
Novas variáveis
=================================================
*/
$logo-path: "../Images/logo.png" !default;
$sprite-path: "" !default;
$icon-font-path: "" !default;

$brand-primary-color: black !default;
$brand-secondary-color: blue !default;

$font-size-base: 14px !default;
$font-family-base: 'Helvetica', 'Arial', sans-serif !default;
$font-family-title: $font-family-base !default;
$font-family-icon: 'FontAwesome' !default;

$gray-base: #000 !default;
$gray-darkest: lighten($gray-base, 6.5%) !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 87.5%) !default;
$gray-lightest: lighten($gray-base, 95.5%) !default;
$clear: #FFF !default;

$text-color: $gray !default;
$title-color: $gray-dark !default;
$btn-color: $brand-primary-color !default;
$link-color: $brand-secondary-color !default;
$bg-color: $clear !default;

$success: #48A148 !default;
$success-bg: #E8F3E3 !default;
$info: #237EC8 !default;
$info-bg: #E5F1F7 !default;
$alert: #B87B10 !default;
$alert-bg: #FCF8E3 !default;
$danger: #A51C19 !default;
$danger-bg: #FBE9E9 !default;

$border-radius-base: 2px !default;

$tint: 15% !default; /* Adiciona branco */
$shade: 10% !default; /* Adiciona preto */

$time: 0.18s !default;
$fx: cubic-bezier(.11,.96,.78,1) !default;

/* Config NEAT - Grid framework */
$grid-columns: 16 !default;
$gutter: golden-ratio(1em, 1) !default;
$max-width: 1180px !default;
$media-width: $max-width;
