<footer id="footer">
  <div class="wrapper">
    <!-- *** -->    <!-- *** -->  
    <div class="row">
      <div id="wd25" class="wd-search  wd-widget wd-widget-js"  data-widget-js='{ "handler": "ProductSearch", "options": {} }'>
        <script type="jsoptions">     {       "suggestions": {        "keystrokeDelay": 200,        "showCorrections": true,        "showTerms": true,        "showProducts": true,         "termsLimit": 0,        "productsLimit": 0,         "bannerTop" : {           "src": "",          "targetBlank": true,          "url": ""         },        "bannerBottom" : {          "src": "",          "targetBlank": true,          "url": ""         }       }     }   </script>   <input type="hidden" name="widget-base-url" value="/">  <input type="hidden" name="widget-cdn-url" value="http://e01.reference.ezcdn.com.br/Custom/Content/Products/">  
        <form action="/pesquisa" data-url-mapper="true">
          <div class="input-wrapper">
            <input type="text" name="t" value="" placeholder="Estou procurando por..." class="clear-default-value search-field" autocomplete="off">     
            <div class="suggestion-box">
              <script type="template" class="suggestion-template">        {{#hasData}}        <div class="suggestion-box-wrapper">          {{#bannerTop}}            <div class="suggestion-banner suggestion-banner-top">               <a href="{{url}}" class="target-{{target}}"><img src="{{src}}" /></a>             </div>          {{/bannerTop}}          {{#showCorrections}}            <div class="suggestion-corrections nav-indexable" data-indexable="{{correction}}">              <span class="suggestion-did-you-mean">{{ Widget.TextDidYouMean }}</span>              <span class="suggestion-correction" data-val="{{correction}}">{{ correction }}</span>             </div>          {{/showCorrections}}          {{#showTerms}}            <div class="suggestion-terms">              <span class="suggestion-title">{{ Widget.TextSuggestions }}</span>              <ul>                {{#terms}}                  <li class="suggestion-item nav-indexable" data-indexable="{{Term}}" data-term="{{Term}}">                     <span class="suggestion-term">                      {{#TermHighlight}}                        <span class="suggestion-highlight">{{ highlight }}</span>{{suffix}}                       {{/TermHighlight}}                    </span>                     <span class="suggestion-count">({{ Count }})</span>                   </li>                 {{/terms}}              </ul>             </div>          {{/showTerms}}          {{#showProducts}}             <div class="suggestion-products">               <span class="suggestion-title">sugestões de produtos</span>               <ul>                {{#products}}                   <li class="suggestion-product nav-indexable" data-indexable="{{Name}}" data-url="{{Url}}">                    <div class="suggestion-product-img"><img src="{{ MediaSmall }}" /></div>                    <div class="suggestion-product-description">                      <div class="suggestion-product-name">{{ Name }}</div>                       <div class="suggestion-product-price">R$ {{ Price }}</div>                    </div>                  </li>                 {{/products}}               </ul>             </div>          {{/showProducts}}           {{#bannerBottom}}             <div class="suggestion-banner suggestion-banner-bottom">              <a href="{{url}}" class="target-{{target}}"><img src="{{src}}" /></a>             </div>          {{/bannerBottom}}         </div>        {{/hasData}}      </script>                 
            </div>
          </div>
          <button type="submit">Buscar</button>   
        </form>
      </div>
    </div>
    <div class="central-atendimento row">
      <div class="banner">
        <div class="span-strait-4 title">
          <h2>           <small>Central de</small>           Atendimento         </h2>
        </div>
        <div class="span-strait-4 ligue">
          <div class="icon">&#xf095;</div>
          <h4>           Ligue para nós           <small>+55 51 9988-7596</small>         </h4>
        </div>
        <div class="span-strait-4 email">
          <div class="icon">&#xf0e0;</div>
          <h4>           Envie um e-mail           <small>             <a href="#">contato@ezcommerce.com.br</a>           </small>         </h4>
        </div>
        <div class="span-strait-4 chat">
          <div class="icon">&#xf086;</div>
          <h4>           Fale via chat           <small>Chat online</small>         </h4>
        </div>
      </div>
      <div class="horario"><small>Horário de atendimento: Seg a Sex: das 8h às 18h. Sábados e Domingos: 12h às 18h.</small></div>
    </div>
    <div class="row">
      <div class="span-8-12">
        <div class="row row-subline footer-menu">
          <div class="span-4-12">
            <div id="cw785089329_1" class="wd-page-menu  "  >
              <!-- BEFORE -->                            
              <div class="wd-page-menu">
                <!-- CONTENT -->                      
                <ul>
                  <li class="root page-institucional">
                    <a href="/conteudo/institucional" title="Institucional">Institucional</a>                                       
                    <ul>
                      <li class="page-institucional-a-empresa"> <a href="/conteudo/institucional/a-empresa" title="A Empresa" target="">A Empresa</a>  </li>
                      <li class="page-institucional-contato"> <a href="/conteudo/institucional/contato" title="Contato" target="">Contato</a>  </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- AFTER -->      
            </div>
          </div>
          <div class="span-4-12">
            <div id="cw250999107_1" class="wd-page-menu  "  >
              <!-- BEFORE -->                            
              <div class="wd-page-menu">
                <!-- CONTENT -->                      
                <ul>              </ul>
              </div>
              <!-- AFTER -->      
            </div>
          </div>
          <div class="span-4-12">         </div>
        </div>
        <div class="row footer-social">
          <h4>           Redes sociais:  </h4>         <span class="icon">&#xf0d2;</span>           <span class="icon">&#xf09a;</span>           <span class="icon">&#xf16d;</span>           <span class="icon">&#xf099;</span>         
        </div>
      </div>
      <div id="footer-fb-box" class="footer-fb span-4-12">
        <div id="wd28" class="wd-marketing-social-facebook  wd-widget  lazy"  >
          <div id="wd29" class="wd-thirdparty-script-loader   "    data-supplier="" data-html="" data-script="&lt;iframe src=&quot;//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/FacebookDevelopers&amp;width=180px&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&quot; scrolling=&quot;no&quot; frameborder=&quot;0&quot; style=&quot;border:none; overflow:hidden; width:180px; height:258px;&quot; allowTransparency=&quot;true&quot;&gt;&lt;/iframe&gt;" data-lazyload="true">    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="certificados">
    <div class="wrapper">
      <span class="title">Formas de pagamento:</span>       
      <div class="shields">         <i class="payment payment-pay-amex"></i>         <i class="payment payment-pay-code"></i>         <i class="payment payment-pay-master"></i>         <i class="payment payment-pay-visa"></i>         <i class="payment payment-pay-amex"></i>       </div>
      <span class="title">Selos e segurança:</span>       
      <div class="shields">        <a href="#" class="shield shield-ebit"></a>         <a href="#" class="shield shield-digicert"></a>         <a href="#" class="shield shield-siteblindado"></a>       </div>
    </div>
  </div>
  <div class="assinatura">
    <div class="row aboutme">
      <div class="wrapper">
        <div id="logo">
          <h1>                      <a href="/" title="Ir para a página inicial.">EZ Store</a>                    </h1>
        </div>
        <div class="text">         <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, minus temporibus iusto non. Dolores odit, quaerat porro nisi explicabo, tenetur. Perspiciatis vitae optio enim, vero illum nisi commodi odio beatae.</small>       </div>
      </div>
    </div>
    <div class="row criadores">
      <div class="wrapper">
        <div class="span-10 copyright">         <small>Copyright © 2009 - now EZ Store. TODOS OS DIREITOS RESERVADOS.</small>       </div>
        <div class="span-6">
          <div class="span-nested-3">
            <small>Criação:</small>         
            <div class="logo-trinto"></div>
          </div>
          <div class="span-nested-3">
            <small>Desenvolvimento:</small>         
            <div class="logo-ez"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="wd30" class="wd-system-login-impersonation  wd-widget wd-widget-js"  data-widget-js='{ "handler": "SystemLoginImpersonation", "options": {} }'>  <input type="hidden" name="widget-shopper-is-impersonation" value="">   <input type="hidden" name="widget-base-url" value="/">  <input type="hidden" name="widget-current-url" value="/">   <input type="hidden" name="name" value="">  <input type="hidden" name="singOut" value='/Logout/SignOut'> </div>
  <div id="wd31" class="wd-system-cache-settings  wd-widget wd-widget-js"  data-widget-js='{ "handler": "SystemCacheSettings", "options": {} }'>  <input type="hidden" name="widget-cache-strategy" value="Cached"> </div>
</footer>

<script src="http://l01.reference.ezcdn.com.br/ast/default/sjs.axd?v=U124h3T1j1rBkSAp2BM1UCHH6RzMyjShICnPOoXll101"></script>
