.wd-checkout-onepage{
	section{
		&.step{
			width:33.33%;
			padding:0 5px;
			&.step-1{padding-left:0px;}
			&.step-3{padding-right:0px;}
			p{margin:0;padding:0;}
			> div.wrapper{padding-top:10px;}
			header{
				hgroup{
					width:100%;
					h2{
						width:40px;
						height:40px;
						line-height:40px;
						margin:0;
						padding:0;
					}
					h3{
						margin:0 0 0 10px;
					}
				}
			}
			&.step-1{
				.tab{
					> span,
					.wd-profile-login-oauth{display: none;}
				}
				.wd-profile-register{
					float:left;
					padding-top:5px;
					.wd-header{
						display: block!important;//Tem um important no css do widget :/
						.wd-title{
							@extend .panel-header;
							padding-bottom:0;
							font-size:1.3em;
						}
					}
				}
				.customer-type{
					&.customer-type-person{
						float:left;
					}
				}
				.input-wrapper{
					&.inline{
						@include span-columns(8);
						&:nth-child(odd){
							@include omega();
						}
						select{
							padding:0;
							width:100%;
						}
						input:not([type="radio"]){width:100%;}
					}
					.input-group{
						overflow:hidden;
						input[type='radio']{
							position:absolute;
							left:-99999px;
						}
						label{
							display: block;
							@include span-columns(8);
							@extend .btn;
							@extend .btn-small;
						}
						input[type='radio']:checked + label{
							@extend .btn-dark;
						}
					}
				}
				.bt-submit{
					@extend .btn-wide;
					margin-top:5px;
				}
				.wd-profile-login{
					.wd-content{
						.email,.password{width:100%;}
						button{@extend .btn-wide;margin-top:5px;}
					}
				}
			}//fim step-1
			&.step-2{
				.module-delivery-addresses{
					float:left;
					div{float:left;}
					strong{
						float:left;
						@extend .panel-header;
						margin:0;
						padding:0;
					}
					.wrapper-addresses{
						@extend .clearfix;
						.tabs{
							width:100%;
							float:left;
							li{
								@include span-columns(8);
								@extend .btn;
								@extend .btn-small;
								min-height:35px;
								&.selected{@extend .btn-dark;}
								&:first-child{
									a{
										display: block;
										height:26px;
										line-height:26px;
									}
								}
								a,a:hover{
									color:#fff;
									text-decoration:none;
								}
							}
						}
						.wrapper-checkout-addresses{float:left;}
						.wd-checkout-addresses{float:left;}
					}
					.wrapper-checkout-addresses{
						width:100%;
						> div{
							width:100%;
						}
					}
					.registered-address{
						margin:0;
						ul{margin:0;padding:0;}
						li{
							margin:1px 0;
						}
					}
				}
				.module-delivery-services{
					@extend .clearfix;
					float:left;
					strong{
						padding:0;
						margin:0;
						@extend .panel-header;
					}
					.wrapper-checkout-deliveryservices{
						.wd-subtitle{
							margin:5px 0;
							text-align:center;
						}
						.js-delivery-choice{
							span{float:left;}
							label{
								float:left!important;
								&:first-child{
									display: inline-block;
								}
							}
							b{float:left;}
							.item-name{float:left;}
						}
					}
					.wd-checkout-deliveryservices{
						.loading{display: none;}
					}
				}
				#goToEditStep3{
					@extend .btn;
					@extend .btn-wide;
				}
			}//fim step-2
			&.step-3{
				dt{
					@extend .panel-header;
				}
				.wd-checkout-paymentgroup{
					.payment-group-box{
						.wd-subtitle{
							height:30px;
							line-height:30px;
							font-size:1.2em;
							input[type='radio']{position:relative;left:0px;top:2px;}
							small{display: none;}
						}
					}
				}
				.wd-checkout-onepage section.step-3 .payment:last-child .payment-method{position:static!important;}
				.payments{position:relative;}
				.payment{
					background-image: none;
					background-color: transparent;
					box-shadow: none;
					float:none;
					.payment-method{
						background: #fff;
						width: 70px;
						height:78px;
						box-shadow: none;
						position:absolute;
						top:0;
						label{
							text-align: center;
							font-size: .8em;
							height: 78px;
							padding: 5px 0px 0px 0px;
							position:relative;
						}
						img{
							display: block;
							text-align: center;
							margin: 0 auto;
						}
						input[name="PaymentMethodID"]{
							position: absolute;
							bottom: 5px;
							left: 0px;
							right: 0px;
							margin: 0 auto;
							width: 13px;
							height: 13px;
							text-align: center;
						}
					}
					&.method-1 .payment-method{left: 0;}
					&.method-2 .payment-method{left: 75px;}
					&.method-3 .payment-method{left: 150px;}
					&.method-4 .payment-method{left: 225px;}
					.payment-form{
						margin:0!important;
						padding-top:85px;
						.wd-checkout-payment{
							padding:0;
							form{
								background:#fff;
								padding:5px;
							}
						}
						.wd-checkout-payment{
							form{
								// padding: 50px 5px 5px 5px;
								.payment-description{
									// position: absolute;
									// top: 0px;
									// text-align: center;
									// width: 97%;
									// background: transparent;
									// border: 0;
									// font-weight: bold;
									display: none;
								}
							}
						}
					}
				}
				.message-what-is-this-just-click{display: none;}
				.just-click{
					margin-top:5px;
					label{display: inline;}
					input{position:relative;top:2px;}
				}
			}//fim step-3
			.tabs{
				li{
					@include span-columns(8);
					@extend .btn;
					@extend .btn-small;
					&.selected{@extend .btn-dark;}
					a,a:hover{
						color:#fff;
						text-decoration:none;
					}
				}
			}
		}//fim &.step
		.payment{
			.payment-method{
				width:10%;
				float:left;
			}
		}
	}//fim section
}//fim wd-checkout-onepage
.OnePageCheckoutStep{
	#cboxLoadedContent {
		/* Error modal */
		.alert .message {
			height: 120px;
			line-height: initial;
		}
	}
}

.OneStepCheckoutReceiptStep{
	header,footer{
		@include media($mobile) {
			display: none
		}
	}
	.back{
		@extend .btn;
		position: absolute;
		right: 10px;
		top: 39px;
		span{display:none;}
		@include media($mobile) {
			width:100%;
			position:static;
		}
	}

	#content-wrapper{
		padding-top:10px;
	}
	.wd-checkout-ordernumber{
		// border:1px solid black;
		@include span-columns(5);
		@extend .panel;
		@include media($mobile) {
			width:100%;
		}
		.order-code{line-height:initial;}
	}
	.wd-checkout-paymentmessage{
		@extend .panel;
		@include span-columns(11);
		@include omega();
		@include media($mobile) {
			width:100%;
		}
	}
	.print-payment-slip{margin-bottom:5px;}
	.wd-checkout-ordersummary{
		// @extend .panel;
		@include span-columns(16);
		@include omega();
		margin:10px 0;
		.wd-header{
			@extend .panel-header;
		}
	}
	.wd-checkout-basket-summary,.wd-checkout-orderdeliveryaddress{
		@extend .panel;
		// border:1px solid red;
		.wd-subtitle{
			font-size: 1.2em;
			font-weight: bold;
		}
	}
	.wd-checkout-basket-summary{
		@include span-columns(16);
		@include omega();
		@include media($mobile) {
			width:100%;
			.wd-subtitle{
				font-size:1em;
			}
		}
		.grid{
			overflow: hidden;
			// border-top: 1px solid;
			padding-top: 5px;
			margin-top: 8px;
			table{
				width:100%;
				th,tr,td,tbody,thead{border-color: $gray-lighter;}
			}
		}
		.see-products{top:5px;}
	}
	.wd-checkout-orderdeliveryaddress{
		@include span-columns(8);
		@include media($mobile) {
			width:100%;
		}
	}
	.wd-checkout-orderpayment{
		@include span-columns(8);
		@include omega();
		@extend .panel;
		@include media($mobile) {
			width:100%;
		}
		.wd-subtitle{
			font-size: 1.2em;
			font-weight: bold;
		}
		.content{
			@include span-columns(7.5);
			min-width:initial;
			& + &:last-child{
				@include omega();
			}
		}
	}
	.wd-checkout-ordertracking.wd-widget{
		@include span-columns(16);
		@include omega();
		@extend .panel;
		@include media($mobile) {
			li{
				width:100%;
			}
		}
		.wd-title{
			font-size: 1.2em;
			font-weight: bold;
		}
		.completed .progress{
			background-color: $success;
		}
		.started .progress{
			&:after{background-color: $success;}
		}
	}
}

.wd-error-summary-modal{
	.the-modal{width:500px;}
	.message{margin-top:-13px;}
	.modal-outofstock-errors{margin-top:13px;}
	.modal-header-title{display:none;}
	.modal-outofstock-title{font-size: 1.5em;float: left;width: 100%;margin-top: 20px;}
	.modal-outofstock-text{float:left;width:100%;line-height:18px;margin-bottom:20px;}
	.modal-outofstock-details{@extend .btn;}
}