#footer {
  background-color: $bg-color;
  padding-top: 2em;
  border-top: 1px solid $gray-lightest;
  &>.wrapper {
    @include outer-container;
    @include clearfix;
    width: $media-width;
    .icon {
      @extend .fa;
      font-size: 2.5em;
      margin-right: 0.4em;
    }
  }
}

%wrapper {
  @include outer-container;
  @include clearfix;
  padding: 1em 0 1em 1em;
}

.assinatura {
  background: $clear;
  .wrapper {
    @extend %wrapper;
  }
}

.central-atendimento {
  .banner {
    background: none;
    border-bottom: none;
    padding: 1.5em 1em;
    color: $title-color;
    @include clearfix;
  }
  .title {
    line-height: 1.6em;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center left;
    height: 54px;
    padding-top: 0.5em;
    padding-left: 32px; 
    color: $title-color;
    small {
      color: $title-color;
      font-size: 0.7em;
    }
  }
  .icon {
    float: left;
    font-size: 2em !important; /* melhorar a forma de escrever */
  }
  .ligue,.email,.chat {
    padding: 0.5em 0;
    padding-left: 1em;
    border-left: 1px solid $gray-lighter;
    margin-top: 0.4em;
  }
  .email .icon {
    font-size: 24em;
  }
  h4 {
    color: $title-color;
    float: left;
    vertical-align: top;
    small {
      margin-top: 0.4em;
      color: $text-color;
      display: block;
      font-family: $font-family-base;
      font-weight: normal;
      display: block;
    }
  }
  .horario {
    background-color: transparent;
    padding: 0.5em;
    text-align: center;
  }
}
$padding: 1.5em;
.footer-menu {
  // @include span-columns(8 of 12);
  display: none; /* Ocultado até reformular markup. */
  .wd-page-menu {
    padding: $padding;
    a {
      color: $link-color; 
    }
    &>ul>li>a {
      @extend h4;
      margin: 0 0 1em;
      display: block;
    }
  }
  .wd-category-menu {
    h3 a {
      font-family: $font-family-base;
      font-size: 1em;
      font-weight: 500;;
    }
  }
}
.footer-social {
  display: none; /* Ocultado até ajustar melhor sua aparência */
  padding: $padding;
  .icon {
    color: $brand-primary-color;
    vertical-align: middle;
  }
}
.footer-fb {
  display: none; /* Ocultado até ajustar melhor sua aparência */
  margin-bottom: 2em;
  height:271px;
  width:310px;

  iframe{
    width:100%!important;
  }
  
}

.aboutme {
  .wrapper {
    display: table;
    width: $media-width;
  }
  background: $clear;
  #logo {
    display: table-cell;
    width: 20%;
  }
  .text {
    display: table-cell;
    padding: 3.2em 0;
    vertical-align: middle;
  }
}

.certificados {
  background: $gray-lightest;
  .wrapper {
    @extend %wrapper;
    width: $media-width;
    border-bottom: none;
    display: table;
  }
  .title {
      display: table-cell;
      text-transform: uppercase;
      padding-right: 1em;
      vertical-align: middle;
      font-size: 0.85em;
      font-weight: 700;
      color: $title-color;
      width: 10%;
    }
    .shields {
      @include clearfix;
      width: 40%;
      display: table-cell;
      vertical-align: middle;
      .shield {
        height: 64px;
        min-width: 44px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        float: left;
        margin-right: 1em;
        @include filter(grayscale(100%));
      }
      .shield-ebit {
        background-image: url('../Images/med-diamante-gnd.png'); }
      .shield-digicert {
        width: 84px;
        background-image: url('../Images/digicert.png'); }
      .shield-siteblindado {
        width: 148px;
        background-image: url('../Images/siteblindado.png'); }
    }
}

.payment {
  background-color: #FFF;
  background-image: url('../Images/payment-sprite.png');
  background-repeat: no-repeat;
  float: left;
  margin: 4px;
  box-shadow: none;
  @include filter(grayscale(100%));
}

.payment-pay-amex {
    width: 32px;
    height: 20px;
    background-position: -5px -5px;
}

.payment-pay-code {
    width: 32px;
    height: 20px;
    background-position: -5px -35px;
}

.payment-pay-master {
    width: 32px;
    height: 20px;
    background-position: -47px -5px;
}

.payment-pay-visa {
    width: 32px;
    height: 20px;
    background-position: -47px -35px;
}


.criadores {
  display: none; /* Estruturar melhor HTML e CSS. */
  %logo {
    display: block;
    min-height: 64px;
    width: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .logo-trinto {
    @extend %logo;
    background-image: url('../Images/trinto.png');
  }
  .logo-ez {
    @extend %logo;
    background-image: url('../Images/ezstore.png');
  }
}

.span-strait-4{
  @include span-columns(4);
}