.safari{
	.wd-title{font-weight:normal;}
}


#cboxClose {
	top: 15px;
	right: 30px;
}
#cboxOverlay{background:$gray-base;}

body #colorbox{
	&.wd-product-medias-enlarger-modal{
		#cboxLoadedContent{
			width: 700px!important;
			height: 680px!important;
			padding-bottom: 0px;
		}
		#cboxClose{top:15px;right:0px;}
	}
}