
#header {
  @include clearfix;

  width: 100%;
  z-index: 10;
  top:0;

  .background {
    background: $bg-color;
    border-bottom: none;
  }
  .wrapper {
    @include outer-container;
    @include clearfix;
  }
  #top-menu {
    height:49px;
    @extend .anime;
    @include span-columns(12);
    @include shift(4);
    .wd-profile-welcome-shopper {
      @include span-columns(7);
      line-height: inherit;
      height: auto;
    }
    .wd-profile-order-tracking {
      display: inline-block;
    }
    padding: 1rem 0;
    @extend small;
    .links {
      text-align: right;
      letter-spacing: normal;
      a {
        border-right: 1px solid $gray-lighter;
        padding: 0 0.7em;
      }
      /* Melhorar a forma de escrita dessa parte .atendimento */
      .atendimento {
        @extend small;
        background: $clear;
        color: $link-color; 
        border: none;
        text-shadow: none;
      }
      .atendimento:hover {
        background: $clear;
        color: $link-color; 
        text-decoration: underline;
        text-shadow: none;
      }
    }
  }
  #logo {
    @include span-columns(4);
    margin-top: -48px;
    @extend .anime;
    a{@extend .anime;}
  }
  #top-search {
    @include span-columns(10);
  }
  .wd-checkout-basket-summaryheader {
    @include span-columns(2);
    @include omega();
  }
  .wd-profile-welcome-shopper {
    @include span-columns(12);
    @include omega();
  }

  .main-bar{
    height:50px;
    z-index:1;
    @extend .anime;
  }

  &.header-float{
    top:0;
    width:100%;
    @extend .anime;

    .main-bar{
      border-bottom:0;
      height:0px;
      padding:0;
      margin:0;
      overflow:hidden;
    }
    #top-menu{
      overflow: hidden;
      padding: 10px 0 0 0;
      height: 0;
    }
    #logo a{background-position-y: 25px;}
    .wrapper{border-bottom:0px;}
  }
}

#logo a {
  background: url($logo-path) center;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  height: 110px;
  display: block;
}

.user-menu {
  font-size: .8em;
  //line-height: 42px;
  height: auto;
  div {
    line-height: inherit;
    height: auto;
  }
  .row .columns:last-child {
    text-align: right;
  }
}


/******************  MAIN MENU *******************/
.main-bar {
  @include clearfix;
  clear: both;
  position: relative;
  border-bottom: none;
  margin-bottom: -1px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 0px;
    margin-top: 1px;
    width: 100%;
    z-index: 110;
    background-color: rgba(255,255,255,.2);
  }
  .main-category {
    @include span-columns(12,block-collapse);
    border-bottom: none;
    .wd-category-menu {
      @include clearfix();
      @extend .navigator;
      .level-1>li {
        @extend .navigator-primary-hover;
      }
      .level-1>li>h3>a {
        @extend .navigator-primary-item;
        font-size: rem(14px);
      }
      .level-1>li.has-children {
        h3>a .icon {
          @extend .dropdown-icon;
        }
        >ul.sub-section {
          background: $gray-lightest;
          display: block;
          position: absolute;
          top: 100%;
          z-index: 200;
          max-height:0;
          padding:0 30px;
          overflow:hidden;
          @extend .anime;
        }
        &:hover>ul.sub-section {
          max-height:700px;
          padding:28px 30px;
          @extend .anime;
          transition-delay:100ms;
        }
        ul {
          @extend .navigator-sub-items;
          display: none;
        }
      }
    }
  }
  .all-category {
    @include span-columns(4,block-collapse);
    @include omega();
    button {
      @extend .btn-wide;
      /* Transformando o botão em fundo claro etc. */
      background: $clear;
      color: $link-color;
      /* */
      text-transform: uppercase;
      padding: 0;
      height: 50px;
      line-height: 50px;
      width: 100.1%; /// BAD! mas no chrome fica um pixel a menos no grid
      margin-bottom:0;
      border-radius: 0;
      &:after {
        display: none;
      }
      &:hover {
        background: $gray-lightest;
      }
    }
    .wd-category-menu > .wd-category-menu {
      @include clearfix();
      @extend .navigator;
      @extend .anime;
      display: block;
      position: absolute;
      width: $max-width;
      right: 0;
      z-index: 100;
      max-height:0;
      overflow:hidden;
      transition-delay: 100ms;
      ul.level-1 {
        @extend .navigator-sub-items;
        margin: 0;
        padding-top: 0; 
        h3>a {
          text-transform: uppercase;
          border-bottom: 1px solid #888;
          padding-bottom: 0.7em;
          margin-bottom: 0.8em;
          @extend .text-pull;
          @extend .font-face-title;
          display: block;
          .icon {
            display: none;
          }
        }
        &>li {
          @include span-columns(4);
          @include omega(4n);
          padding-top: 30px;
        }
      }
    }
    &:hover {
      .wd-category-menu > .wd-category-menu{
        max-height:700px;
        transition-delay: 0ms;
      }
    }
  }
  a[title="veja mais"] {
    @extend a.veja-mais;
  }
}