$header-height:163px;

/*$mobile: new-breakpoint(min-width 0);
$mobile-only: new-breakpoint(min-width 0 max-width 640px);
$tablet: new-breakpoint(min-width 641px);
$tablet-only: new-breakpoint(min-width 641px max-width 800px);
$small: new-breakpoint(min-width 801px);
$small-only: new-breakpoint(min-width 801px max-width 1024px);
$desktop: new-breakpoint(min-width 1024px);
*/
$max-width-content:100%;