.themodal-overlay{
	.wd-header{@extend .panel-header;margin:0 0 30px 0;padding:0;}
	.wd-title{@extend .panel-title;}

	&.select-variation-modal{
		.the-modal{
			height:530px;
			width: 1020px;
		}
		.the-modal-container{height:100%;max-width:100%;max-height:100%;}
	}
	&.modal-wd-product-reviews{

	}
	&.wd-product-payment-options{
		.the-modal{width:500px;}
	}
	&.open-modal-wishlist{
		.the-modal{width:300px;}
		p{padding-top: 20px;margin-bottom: 20px;width: 90%;display: block;}
	}
	&.wd-product-deliveryfee{
		.the-modal{
			width:400px;
			&.opened:not(.populated){
				.the-modal-container{
					min-height:100px;
				}
			}
			.scroll{height:auto;}
		}

	}
}