.authentication-modal, .page-login {
	
	.wd-profile-login,.register{
		@include span-columns(8);
		@extend .panel;
		h2 {
			@extend .panel-header;
		}
	}
	.register{
		margin-top: 0;
		float: right;
		@include omega();
	}
	// .wd-profile-login{
	// 	button{
	// 		display: block;
	// 		margin-left: 220px;
	// 		margin-top: 10px;
	// 	}
	// }
	.register-socialnetworks{display: none;}
	.register-now{
		@extend .btn;
	}
}
.authentication-modal .wd-profile-login{margin-top:0;}
//Sobrescrevendo o css do widget
.area-profile section#middle .js-login .input-wrapper label{width:100px;}

.wd-profile-login-recover-password{
	@include span-columns(16);
}

.modal-wd-profile-login{
	.wd-profile-login{
		border:0;
		box-shadow:none;
		width:100%;
	}
	span.error{
		position: relative;
		background: transparent;
		color: red;
		top: 0px;
		padding: 0;
		left: 0;
		height: 20px;
		display: block;
		line-height: 20px;
		margin-top: 5px;
	}
	input.error{border:1px solid red;}
	button{
		@extend .btn-wide;
		margin-top:5px;
	}
}