.area-profile section#middle{
  .wd-profile-panelmenu.wd-widget{
    @extend .panel;
    // padding:5px;
    margin-top:0;
    .wd-header {
      @extend .panel-header;
    }
    nav{
      a{
        @extend .btn;
        width:100%;
        margin-bottom:1px;
      }
    }
    .sub-title{display: none;}
  }
  
  .wd-widget{
    @extend .panel;
    margin-top:0;
    .wd-header {
      @extend .panel-header;
    }
  }
  
  .input-wrapper{
    margin:10px 0;

    label {
      display: inline-block;
      font-weight: bold;
      padding-right: 5px;
      text-align: right;
      width: 150px;
    }
    input, select {
      width: auto;
      display: inline-block;
    }

    .customer-type-radio {
      margin-left: 150px;
    }

    .input-group {
      label {
        width: auto;
      }
    }
  }
  .wd-subtitle{background:none;font-size:1.3em;padding:0;font-weight:bold;}

}