body{
	#middle {
		min-width: 0;
		max-width: $max-width-content;
	}
	#header, #footer {
		min-width: 0;
		max-width: 100%;
	}
	#footer {}
}

#content{
	position:relative;
	z-index:1;
}
#left{
	position:relative;
	z-index:2;
	// padding: 0 10px;
}
#right{
	// padding: 0 10px;
}

/* #3COLUMNS (FIXED - FLUID - FIXED)
--------------------------------------------------------------------- */
/*.columns-3 #content-wrapper{
	margin: 0 200px 0 200px; 
}*/

/* #2COLUMNS LEFT  (FIXED - FLUID)
--------------------------------------------------------------------- */
body.columns-2-left #content-wrapper{
	margin-left: 200px; /*Set left margin to LeftColumnWidth*/
	margin-right: 0;
}

/* #2COLUMNS RIGHT  (FLUID - FIXED)
--------------------------------------------------------------------- */
/*.columns-2-right #content-wrapper{
	margin-left: 10px;
	margin-right: 200px; 
}

#middle header,  #middle footer{
	overflow: hidden;
}*/