.wd-title {
  display: inline-block;
}

.wd-product-list {
  .wd-content {
    ul {
      overflow: hidden;
      li {
        @include span-columns(4);
        @include omega(4n);
        @include pad;
        margin-bottom: 1em;
        background-color: $bg-color;
      }
    }
  }
}

.wd-browsing-breadcrumbs {
  @include outer-container;
  padding: 1em 0;
  font-size: rem(12px);
  .location {
    display: none;
  }
  li {
    &:after {
      @extend .fa;
      content: $fa-var-angle-right;
      color: $gray-lighter;
    }
    a {
      color: $link-color;
    }
    &:last-child{
      color: $text-color;
      font-weight: 500;
      &:after {
        display: none
      }
    }
  }
}

.wd-search {
  @include clearfix;
  form {
    @extend .input-search;
  }
  .input-wrapper {
    @include span-columns(12,block-collapse);
    height: $search-height;
  }
  button {
    @include span-columns(4,block-collapse);
    @extend .btn-wide;
    @extend .btn-icon-search;
    height: $search-height;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .suggestion-box-wrapper{padding:0px;}
  .suggestion-title{display: none;}
  .suggestion-product{ &:first-child{border-top:0;} }
  .suggestion-product-name{
    font-size: 1em;
    @extend .font-face-title;
  }
  .suggestion-product-price{
    font-size: 1.2em;
    color: shade($brand-primary-color, $shade);
    font-weight: bold;
    line-height: 20px;
  }
  .suggestion-product-description{padding-top:8px;float:none;}
  .nav-current{
    background: $gray-lightest;
    box-shadow: none;
  }
}

#footer .wd-search {
  margin-bottom: 25px; /* Escrever isso de forma mais bem integrada ao SCSS */
}

.wd-checkout-basket-summaryheader {
  z-index:2;
  width:280px;
  .basket-size-wrapper {
    @extend .btn-icon-cart;
    display: inline-block;
  }
  .wd-widget{
    .wd-content{
       ul{
        .name{
          span.freeitem{
            line-height: 12px;
          }
        }
      }
    }
  }
  .basket-size {
    vertical-align: top;
    background: #FFF;
    width: 24px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 700;
    color: $brand-primary-color;
  }
  &>a {
    @extend .btn-text;
    @extend .btn-wide;
    /* Não estava consenguindo de outro jeito então coloquei fixo, sem variáveis ou extensões. */
    border: 2px solid $brand-primary-color !important;
    color: $brand-primary-color !important;
    /* */
    border-radius: $border-radius-base;
    font-family: inherit;
    text-shadow: none;
    padding:  0.5em 0;
    height: $search-height;
    line-height: $search-height;
    text-align: center;
    font-size: 1.5em;
    line-height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: 0.3em;
      @include triangle(10px, #FFF, down);
    }
    &:before {
      margin-right: 0;
      border-top-color: $brand-primary-color; /* Idem comentário logo acima */
    }
    &:hover {
      text-decoration: none;
    }
    b {
      display: none;
    }
  }
  .summaryheader-content {
    @extend .dropdown;
    &.wd-widget {
      .wd-header {
        display: none;
      }
      .wd-content {
        ul {
          line-height: normal;
          min-height: 54px;
          padding: 0;
          border-bottom: none;
        }
        li {
          text-align: left;
          float: none;
          display: block;
          margin-left: 55px;
          padding: 0;
          color: $gray;
        }
        a {
          text-decoration: none;
        } 
        .name {
          font-size: .8em;
          margin-top: 4px;
          width:80%;
        }
        .price {
          color: $brand-primary-color;
          font-weight: 700;
        }
        .img {
          position: absolute;
          margin-left: 0;
        }
      }
      .wd-footer {
        padding: 0;
      }
      .go-to-basket {
        display: none;
      }
      .subtotal {
        display: none;
      }
    }
    button {
      @extend .btn;
      @extend .btn-wide;
    }
  }
  &.empty{
    .summaryheader-content{
      height:80px;
      @extend .btn-icon-cart;
      &:before,&:after{color:$brand-primary-color;}
      &:before{
        color: $brand-primary-color;
        font-size: 3em;
        position: absolute;
        top: 10px;
        left: 25px;
      }
      &:after{
        content: "Seu carrinho está vazio";
        display: block;
        width: 80%;
        padding-left: 55px;
        border-bottom: none;
        font-size: 1.5em;
        position: absolute;
        top: 10px;
        left: 25px;
        padding-right: 35px;
        line-height: 22px;
        padding-bottom: 10px;
        font-weight: bold;
      }
    }
    .go-to-basket, .go-to-checkout{display: none;}
  }
}

.wd-profile-welcome-shopper {
  .shopper-authenticated {
    .icon {
      height: 10px;
      width: 10px;
      background-image: url('../images/icon-user.png');
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: -1px;
    }
  }
  .login-simple {
    color: inherit;
    .title {
    }
    .wd-profile-login {
      height: auto;
      width: auto;
      @extend .dropdown;
      button {
        @extend .btn;
        @extend .btn-wide;
      }
      input {
        border-radius: 0;
        font-size: rem(14px); 
      }
      a {
        @extend a;
        font-size: rem(12px); 
      }
    }
  }
  .login-wrapper {
    .login-title {
      padding: 0;
      background-color: inherit;
    }
  }
  a.sign-out {
    padding: 0;
  }
}


.wd-browsing-product-carousel {
  .jcarousel-container-fluid {
    width: auto;
    .jcarousel-clip-horizontal {
      width: auto;
    }
  }
  .jcarousel-prev,
  .jcarousel-next {
    $size: 40px;
    @extend .fa;
    @extend .text-pull;
    text-align: center;
    background: $info;
    color: $gray-light;
    border: none;
    border-radius: 100%;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: 2.5em;
    box-shadow: none;
    &:hover {
      border: none;
      color: $clear;
    }
    &:after {
      top: -2px;
      position: relative;
    }
  }
  .jcarousel-next {
    &:after {
      content: $fa-var-angle-right;
      left: 1px;
    }
  }
  .jcarousel-prev {
    &:after {
      content: $fa-var-angle-left;
      right: 1px;
    }
  }
}

.show-form-add-wishlist{
  .modal{
    width: 400px;
  }
}
body{
  .modal{
    display:block;
    &.wd-widget{
      position: static;
    }
  }

}

.wd-hide,
.hidden{
  display: none;
}

.wd-product-variations{
  div.type-options-list{

    .wd-buy-button {
      .btn-buy {
        padding: 0 0.3em 0 2.3em;
        &:before{
          top: 23px;
          right: 89px;
        }
      }
    }

    .wd-product-notifywhenavailable{
      .content{
        
        button{
          font-size: 7pt;
          padding: 29px 0 0 27px;

          &:before{
            font-size: 9pt;
            font-weight: bold;
            top: 14px;
            left: 0;
          }
          &:after{
            font-size: 1.4em;
            left: 15px;
            top: 36px;
          }

        }
      }
    }
  }
}
.wd-buy-button {
  .btn-buy {
    @extend .btn;
    @extend .btn-big;
    width:119px;
    height:34px;
    padding: 0 2.3em 0 0.9em;
    line-height: 1.9em;
    display: block!important;
    &:before{
      @extend .btn-icon-cart;
      display: block;
      position: absolute;
      top: 7px;
      right: 5px;
    }
  }
  .wd-product-oneclickbuy{
    .url-read-more{display: none;}
    .message-read-more{display: none;}
    .btn-oneclickbuy{
      @extend .btn;
      @extend .btn-big;
    }
  }
  .loading-buy{
    overflow: hidden;
    max-height: 0;
    padding-top: 0px;
    display: none;
    @extend .anime;
  }
  &.buying{
    .btn-buy{
      @extend .anime;
      width:119px;
      height:34px;
      font-size:0px;
      &:before{display: none;}
      .loading-inside-buy-button{
        display: block;
        background: url(/Custom/Content/Themes/Default/Images/ajax-loader.gif) no-repeat;
        height: 20px;
        position: absolute;
        top: 10px;
        width: 17px;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
}

.wd-product-price-description {
  margin-bottom: 0.3em;
  height:60px;
  &.wd-hide{
    display: block;
    visibility: hidden;
  }
  .list-price {
    color:$gray-light;
    font-size: rem(12px);
  }
  .sale-price {
    font-size: rem(18px); 
    color: $title-color;
    padding-top:12px;
  }
  .list-price + .sale-price{padding-top:0px;}
  .prefix {
    display: none;
  }
  .has-many-skus{
    .prefix{
      display: block;
      color: shade($brand-primary-color, $shade);
    }
    span{
      @extend .sale-price;
      font-weight:bold;
      font-size: 1.9em;
    }
  }
  .condition{margin:5px 0 0 0;height:12px;}
  .product-tax{
    font-size: 0.8em;
    width: 100%;
    display: block;
  }
}
.wd-product-bundle-price{
  .bundle-price-area{
    .price{
      margin-top:5px;
      display: block;
      .value{ 
        font-size:1.74em;
        color: $brand-primary-color;
      }
    }
    .economy{
      .value{
        color: $brand-primary-color;
      }
    }
  }
}
.wd-browsing-product-carousel.wd-widget,
.wd-product-list.wd-widget {
  @extend .panel;
  @extend .panel-shadow;
  width: $media-width;
  margin: 20px auto;
  .wd-header {
    @extend .panel-header;
    @extend .font-face-title;
    font-weight: 700;
    color: $title-color;
    border-bottom: 1px solid $gray-lighter;
    .wd-icon:before {
      @extend .fa;
      content: $fa-var-star;
    }
  }
}

.wd-product-line {
  position: relative;
  min-height: 400px;
  h3 {
    font-size: rem(14px);
    @extend .font-face-title;
    height: 42px;
    margin: 0.4em 0;

    a {
      color: gray;
    }
  }
  .bottom {
  }
  .wd-product-line-medias {
    a.thumb {
      box-sizing: content-box;
    }
  }
  .wd-product-line-medias-variations {
    .media-variation-list {
      height:26px;
      @include clearfix;
      .variation-item {
        float: left;
        width: 22px;
        height: 22px;
        border: 2px solid #FFF;
        border-radius: 2px;
        box-shadow: none;
        margin: 2px;
        &.selected{border:2px solid #090;border-radius:0;}
      }
    }
  }
  .wd-product-price-description .condition, .wd-product-price-description .product-tax{
    font-size: rem(12px);
    margin: 0;
    .parcels, .parcel-value,.tax-value {color: $brand-primary-color;font-weight:bold;}
  }
}
.wd-flags {
  position: absolute;
  z-index: 5;
  .flag {
    @extend .label;
  }
  .recomendado {
    @extend .label-info;
  }
}

.wd-product-reviews {
  overflow: visible;
  .wd-product-reviews-list {
    .wd-header {
      @extend .panel-header;
      .wd-title {
        @extend .panel-title;
      }
      .review-create {
        float: none;
        @extend .btn;
        @extend .btn-small;
      }
    }
    @extend .panel;
    @extend .panel-outhead;
  }
  .wd-product-reviews-create{
    height:550px;
  }
}
/// wd-marketing-banner
.wd-marketing-banner.slider {
  text-align: center;
  .slider-controller {
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 0.5em 2em;
    line-height: normal;
    li {
      $size: 32px;
      font-size: 0.8rem;
      float: none;
      display: inline-block;
      background: $clear;
      color: $gray-light;
      border: none;
      height: $size;
      line-height: $size;
      width: $size;
      border-radius: 100%;
      font-weight: 700;
      box-shadow: none;
      &.current {
        background: $brand-primary-color;
        color: $clear;
      }
    }
  }
}

.wd-browsing-grid-list {
  @extend .panel;
  li {
    &:nth-child(3n) {
      .wd-product-line {
        margin-right: 0;
      }
    }
    .wd-product-line {
      margin-right: 10px;
    }
  }
}

.column-1{
  .wd-browsing-grid-list>ul>li{
    float:left;
    width:20%;
    min-height:200px;
  }
}
.columns-2-left, .columns-2-right{
  .wd-browsing-grid-list>ul>li{
    float:left;
    width:33.33%;
    min-height:200px;
  }
}
.columns-3{
  .wd-browsing-grid-list>ul>li{
    float: left;
    width: 48%;
    min-height: 200px;
    margin: 0 1%;
  }
}
.single-page{
  .wd-browsing-grid-list>ul>li{
    float:left;
    width:15%;
    min-height:200px;
  }
}

.wd-product-notifywhenavailable{
  .content{
    height:65px;
    button{
      height: 100%;
      width: 100%;
      background: $gray-light;
      border-bottom: none;
      border-bottom-color: none;
      font-size: 0.8em;
      padding: 20px 0 0 25px;
      letter-spacing: normal;
      &:before{
        content: "Produto Indisponível";
        display: block;
        position: absolute;
        font-size: 1.5em;
        font-weight: bold;
        top: 15px;
        left: 0;
        width: 100%;
        letter-spacing: normal;
      }
      &:after{//Perguntar para o Pchara depois
        @extend .fa;
        content: "\f071";
        font-size: 1.4em;
        position: absolute;
        left: 10%;
        top: 32px;
      }
    }
  }
}

.wd-product-wishlist.wd-widget-js{
  .btn-product-wishlist{
    text-align: left;
    padding-left: 0;
    margin-top: 10px;
    text-decoration: underline;
    &:before{
      content:"\f004";
      color: $gray-lighter;
    }
  }
}

.btn-alert.btn-text, article .information .wd-product-wishlist button, article .information .wd-buy-button .needed-authentication a.btn-text:not(.url-read-more), article .wd-product-deliveryfee label.btn-alert {
  color: $link-color; /* Escrever isso de outra forma, não achei onde mudar no SCSS. */
}

//perguntar para o Ariel Pchara
.banner-bottom{
  width: $media-width;
  height:66px;
  margin:10px auto;
}
.mini-banner{
  background: $gray-lighter;
  float:left;
  width:49%;
  height:66px;
}
.wd-marketing-newsletter.wd-widget-js{
  float: right;
  width:49%;
  height:66px;
  background: $gray-lightest;
  margin-left: 6px;
  position:relative;
  p{
    position: absolute;
    top: 33px;
    left: 70px;
    width: 200px;
    font-size: rem(12px);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: normal;
    z-index: 1;
    &:before{
      content: "\f0e0";
      display: block;
      position: absolute;
      top: -19px;
      left: -40px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 3em;
      color: $gray;
    }
    &:after{
      content: "Receba Todas";
      display: block;
      font-weight: bold;
      position: absolute;
      top: -15px;
      font-size: 1.2em;
      letter-spacing: normal;
    }
  }
  .input-name-marketing-newsletter{display: none;}
  .input-button-marketing-newsletter{
    float:left;
    position: relative;
    top: -12px;
  }
  .input-email-marketing-newsletter{
    width: 153px;
    height: 37px;
    float: left;
    margin-left: 225px;
    position: relative;
    top: -12px;
    label{display: none;}
  }
}
.wd-facet-group{
  //reset de facetas
  .facet-type-selected{
    @extend .panel;
    @extend .panel-shadow;
    border-radius:0;
  }
  &.js-build{
    .selected-facets{
      &:before{margin:0;}
      padding-top:10px;
    }
  }
  .selected-facets{
    background:none;
    border-radius:0px;
    border:0;
    margin:0;
    .selected-facet{
      border:0;
      margin:0;
      border-radius:0;
      border-top: 1px solid $gray-lighter;
      &:first-child{border-top:0;}
      ul{
        padding: 0 0 7px 17px;
        li{
          color: $gray-light;
          font-weight:normal;
          border:0;
          &:hover{border:0;}
        }
      }
      .clear-filter{
        color:$brand-primary-color;
        &:hover{font-size:17px;color:$brand-primary-color;}
      }
    }
    .selected-facet-name{
      color: $gray-light;
      background:none;
    }
  }
  .facets{
    @extend .panel;
    @extend .panel-shadow;
    border-radius:0;
    .facet-type{
      margin:5px 0;
      &.hasimage{display: none;}
      .facet-type-list{
        .facet-title{
          padding:5px;
          font-size:1em;
          &:before{
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f068"; // perguntar para o Ariel
            border: 1px solid;
            border-radius: 0;
            padding: 5px;
            position: relative;
            top: 2px;
            box-sizing: border-box;
            line-height: 1px;
            text-indent: -3px;
            font-size: 0.6em;
          }
          &.facet-closed{
            &:before{
              content: "\f067";
              line-height: 1px;
              text-indent: -3px;
            }
          }
        }
        .option-title{color:$brand-primary-color;}
      }
      &.wd-facet-type-range{
        .range-wrapper{border:0;background:transparent;}
        .submit{
          @extend .btn;
          box-shadow:none;
          border-radius:0;
        }
      }
    }

    .wd-facet-type-range{
        .submit{
          background: $info;
        }
    }
  }
  .loading-label{
    margin:0;
    position:absolute;
    top:30px;
  }
}

//@include span-columns(12,block-collapse);
.wd-product-bundle{
  .bundle-buy{
    @include span-columns(8,block-collapse);
    float:right;
    margin: 0;
  }
  .bundle-price{
    @include span-columns(8,block-collapse);
    float:left;
    margin: 0;
  }

}

.wd-product-variations{
  label[class*='var-group-']{
    span{padding:3px 5px;}
  }
  .variation-group,.subvariation-group{
    .title{
      font-weight:normal;
      font-size:1em;
      color: $gray;
    }
  }
  .subvariation-group{
    &.combo{
      width:50%;
      float:left;
      select{border:1px solid $gray-lighter;}
    }
  }
}



.wd-browsing-grid {
  position:relative;
  header, footer {
    position: relative;
  }
  .loading-menu,.loading-grid{
    left: 0px;
    top: 5px;
  }
  .finded-term{
    @extend .panel;
    .finded-term-term{
      font-weight:bold;
    }
  }
}
.wd-browsing-grid-sorter {
  top: 8px;
  right: 0;
}

.wd-checkout-basket-grid {
  .quantity {
    .change {
      input {
        display: inline-block;
        width: 30px;
        padding: 1px;
      }
    }
  }
}

.wd-checkout-basket-discount {
  .description {
    height: auto;
    input {
      display: inline-block;
      margin-right: 5px;
      width: auto;
    }
    button {
      width: 170px;
    }
  }
}

.wd-checkout-basket-deliveryoptions {
  @extend .wd-checkout-basket-discount
}

.wd-checkout-steps {
  display: none; /* Podemos desabilitar de vez? */
  margin-top: 10px;
  .current {
    .title {
      color: $gray-light;
    }
    .number {
      background-color: $btn-color;
    }
  }
  .number {
    border-radius: 0;
  }
}

#left {
  .wd-category-menu {
    &.wd-widget {
      @extend .panel;
    }
  }
}

body.context-landing-SelectVariationRoute #middle {
  margin-top: 0; 
  padding:0px;
}

.js-delivery-choice{
  b{font-weight:normal;}
}

.wd-checkout-basket-oneclickbuy{
  margin-left:10px;
  .btn-basket-oneclickbuy{
    @extend .btn;
    @extend .btn-wide;
    text-indent: initial;
    background-image: none;
    padding: 0 6px;
    margin: 0;
    height: 34px;
  }
}