$brand-primary-color: #0A7ACA;
$brand-secondary-color: $brand-primary-color;
$gray-base: #000 !default;
$gray-lightest: lighten($gray-base, 96.5%);

body.caso1 {
  /* Para demonstração somente */
  .wd-checkout-basket-grid .warning-out-of-stock,
  .wd-checkout-basket-grid tr.outofstock,
  .wd-checkout-basket-grid tr.partiallyoutofstock {
    display: none;
  }
}

body.caso2 {
  /* Para demonstração somente */
  .wd-checkout-basket-grid .warning-out-of-stock,
  .wd-checkout-basket-grid tr.outofstock,
  .wd-checkout-basket-grid tr.partiallyoutofstock,
  .wd-checkout-basket-grid tr.nested, 
  #basket-item-56880, .wd-checkout-basket-oneclickbuy {
    display: none;
  }
}

.wd-checkout-basket-buttons button.bt-checkout small {
  color: tint($gray-light, $tint);
}

.wd-checkout-basket-grid table tfoot td.subtotal {
    white-space: nowrap;
}

.wd-checkout-basket .loading {
  display: none; 
}

.wd-checkout-basket .loading img {
  display: none; /* Fazer: eliminar a imagem antiga  */
}

#cboxLoadingGraphic { 
  /*Onde e quando aparece essa imagem? */
}

.wd-checkout-basket .loading {
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
  cursor: wait;
}

.wd-checkout-basket .loading:before {
  width: 80px;
  height: 80px;
  margin-top: 0;
  top: 20px;
}

.wd-checkout-basket-oneclickbuy [disabled].btn-basket-oneclickbuy,
  button[disabled] {
  background: $brand-primary-color;
  color: $clear;
  cursor: wait !important; /* Atenção ao aplicar isso no botão quando está desabilitado em situações fora de loading */
  opacity: 0.8 !important;
}

body.disabled {
  /* Fiz essa class para demonstrar (e aplicar) como serão os estilos quando a tela estiver em modo desabilitada (add quantidade, remove, cupom etc.) */ 
  .wd-checkout-basket .loading {
  display: block !important; 
  }
  #middle button, 
  .wd-checkout-basket-grid .outofstock .quantity a.remove-out-of-stock-item,  /* Essas do outofstock só estão aqui para melhor ilutrar o disabled */ 
  .wd-checkout-basket-grid .warning-out-of-stock a:last-child
   {
    opacity: 0.8 !important;
    cursor: wait !important;
  }
}

.btn-small {
  padding: 0.7em 1em;  /* Aplicar ao btn.scss */
}

.btn-outline {
  background: $clear;
  border: 1px solid $btn-color;
  color: $btn-color;
  &:hover /* etc */ {
    background: $gray-lightest;
    color: $btn-color;
  }
}

.btn-text {
  padding: 1em;
}

.fa-gift:before {
  content: "\f06b";
  margin-right: 2px;
  font-size: 14px; 
}

.wd-checkout-basket-grid .wd-product-additional-services {
  margin-top: 6px;
}

/* Observar os diversos casos no carrinho2.html: com ou sem opção de escolher embalagem, grátis ou não...  */ 
.wd-checkout-basket-grid .wd-product-additional-services.embalagem1,
.wd-checkout-basket-grid .wd-product-additional-services.embalagem2,
.wd-checkout-basket-grid .wd-product-additional-services.embalagem3,
.wd-checkout-basket-grid .wd-product-additional-services.embalagem5 {
  display: none;
}

.wd-checkout-basket-grid .wd-product-additional-services span {
  display: inline-block !important;
}

.wd-checkout-basket-grid .wd-product-additional-services label span.text {
  display: inline-block;
  position: relative;
  top: -2px;
}

input[type="checkbox"] {
  margin-left: 0px; /* Para fins de alinhamento */ 
} 

.wd-checkout-basket-grid .wd-product-additional-services label a.show-more-options {
  padding-left: 4px;
} 

.the-modal {
  width: 40%; /* Tamanho para a modal de embalagem */
}

.the-modal .close {
  /* Não levar muito em conta a forma como foram escrita essas escritas,~´e mais uma referência visual. */ 
  top: 0;
  text-indent: -9999px;
  background: #DEF1DE;
  background: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-22-48.png") no-repeat;
  /* Gerar um SVG desse X a partir daqui, para depois ficar fácil de usá-lo em várias cores: https://www.iconfinder.com/icons/296812/close_cross_delete_icon#size=48 */
  background-size: 40%;
  height: 79px;
  width: 76px;
  padding: 0;
  background-position: center;    
  border-left: 1px solid $gray-lighter;
}

/* Aplicar às modais essas classes e estrututura abaixo por padrão (cabeçalho, corpo, rodapé). Mais adiante terão algumas variações, mas essa será a base.  */
.the-modal .the-modal-container {
  border-radius: $border-radius-base;
  padding: 0;
}

.the-modal .the-modal-container .modal-header {
  padding: 26px 30px;
  border-bottom: 1px solid $gray-lighter;
  background: $gray-lightest;
  border-radius: $border-radius-base;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.the-modal .the-modal-container .modal-header .modal-title {
  font-size: 22px;
}

.the-modal .the-modal-container .modal-body {
  padding: 32px;
}

.the-modal .the-modal-container .modal-footer {
  /* Ver coisas em comum com a .modal-header */ 
  padding: 26px 30px;
  border-top: 1px solid $gray-lighter;
  background: #f4f4f4;
  border-radius: $border-radius-base;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: right;
}

.the-modal .the-modal-container .modal-footer button.btn-text {
  /* Ver aplicação modal no carrinho2.html */ 
  @extend $btn-text;
}

.the-modal .the-modal-container .modal-footer button.btn {
  /* Ver aplicação modal no carrinho2.html */ 
  @extend $btn;
  margin-left: 16px; /* Aplicar essa margem em outros casos quando tem vários botões lado a lado. */
}

#main .modal-escolha-embalagem {
  display: none;
}

.the-modal-container .modal-escolha-embalagem {
  display: block;
}

.modal-escolha-embalagem .wd-checkout-basket-grid table 
/* Usei a .wd-checkout-basket-grid somente para aproveitar a aparência do grid do carrinho. 
Ver o que há de comum entre ambos e estabelecer uma base para as tabelas em geral. */ {
  border: none;
  margin-bottom: 32px;
} 

.modal-escolha-embalagem .wd-checkout-basket-grid table tr {
  cursor: pointer; /* O link deve para selecionar um item, nesse caso, deve ser toda a extensão da linha/tr */
} 

.modal-escolha-embalagem .wd-checkout-basket-grid table tr.active, 
.modal-escolha-embalagem .wd-checkout-basket-grid table tr:hover {
  background: lighten($gray-lightest, 2.5%);
}

.modal-escolha-embalagem .wd-checkout-basket-grid table tr td.select {
  width: 66px;
  text-align: right;
}

.modal-escolha-embalagem .wd-checkout-basket-grid table tr td.product {
  padding-left: 0;
}

.modal-escolha-embalagem .wd-checkout-basket-grid table tr td.select input[type="radio"] {
  margin: 0;
}

.modal-escolha-embalagem .wd-checkout-basket-grid tr.nested {
  display: block !important;  
}

.modal-escolha-embalagem .wd-checkout-basket-grid tr.nested td .photo {
  width: 50px;
}

.modal-escolha-embalagem .mensagem label {
  display: block;
  margin-bottom: 14px;
  font-weight: bold;
}

.mensagem textarea {
    height: 120px;
}
 
span.dados-embalagem 
/* Dar um nome que faça mais sentido */ {
  display: inline-block !important; 
  margin-left: 10px;
}

.wd-checkout-basket .total {
  height: auto;
}

.wd-checkout-basket .total div b.title {
  background: lime;
  display: inline-block;
  width: 300px;
}

.wd-checkout-basket .total .price-shipping, .shipping-title {
  display: none;
}

.wd-checkout-basket .total .price-discount {
  background: blue;
}

.wd-checkout-basket .total div.header {
  background: gray;
  position: relative;
  top: initial;
  margin-top: auto;
  right: initial;
  text-align: right;
}

.wd-checkout-basket .total .price {
  background: orange;
  position: relative;
}

.wd-checkout-basket .total .estimated {
  background: yellow;
}

.wd-checkout-basket-grid table {
  margin-bottom: 0px;
  border-bottom: none;
}

.wd-checkout-basket-grid table tfoot td {
  border-width: 2px 0 0px;
  border-color: $gray-lightest;
  background: $clear;
}

.wd-checkout-basket-grid tr.nested td {
  padding: 12px 20px; /* Atualizando o padding */
}

.wd-checkout-basket-grid table td, .wd-checkout-basket-grid table tbody tr td {
  padding: 20px 28px;
}

.wd-checkout-basket-grid table th {
    padding: 16px 28px;
}

.fa-arrow-left:before {
    content: "\f060";
    margin-right: 4px;
    margin-left: -8px;
    font-size: 16px; /* Padronizar espaçcamento e tam. de ícones quando interagindo com textos de 14px (ver caso abaixo .fa-tag:before) */
}

.fa-tag:before {
  content: "\f02b";
  margin-right: 4px;
  margin-left: -8px;
  font-size: 16px; 
}

.fa-truck:before {
  content: "\f0d1";
  margin-right: 4px;
  margin-left: -8px;
  font-size: 16px; 
}

.fa-search:before {
  content: "\f002";
  margin-right: 4px;
  margin-left: -8px;
  font-size: 16px; 
}

.fa-pencil-square-o:before {
  content: "\f044";
  margin-right: 4px;
  margin-left: -8px;
  font-size: 16px; 
}


.wrapper-bottom-basket {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-top: none;
  display: flex; /* Isso é temporário! Essa foi a única forma que econtrei de mostrar como eu queria, 
  mas obviamente deve ter algum melhor e mais apropriada. */
}

.wrapper-bottom-basket .column1 {
  width: 35%;
  float: left;  
}

.wrapper-bottom-basket .column2 {
  width: 65%;
  float: left;
}

.wd-checkout-basket-discount {
  margin: 0;
  padding: 2em;
  border-width: 0;
}

.wd-checkout-basket-deliveryoptions {
  padding-bottom: 0;
}


.wd-checkout-basket-deliveryoptions label {
  @extend .input-group;
}

.wd-checkout-basket-deliveryoptions .description {
  text-align: right;
  padding: 22px 0;
  border-top: 1px solid $gray-lighter;
}

.wd-checkout-basket-deliveryoptions .types {
  margin-top: 0;
}

.wd-checkout-basket-discount .header, .wd-checkout-basket-deliveryoptions .header {
  display: none; /* Não precisa mais */
}

.wd-checkout-basket .total {
  padding: 0 2em 3em;
  border: none;
  background: transparent;
  margin-top: 0;
}

.wd-checkout-basket-discount label {
  width: auto;
  margin-bottom: 14px; /* padronizar esse espaçamento abaixo dos labels */
}

.input-group {
  /* Agrupei campo e botão numa div (ver carrinho2.html). Organizar outros casos nesse mesmo formato
   (campo de busca, qtdes. no carrinho) pra usar essa classe comum.
    - Assim como já existe no Easy, fazer as classe pré e pós campos, fazendo-os ficarem da mesma altura.
    - Não deixar o grupo quebrar em diferentes resoluções (exemplo: input ficar numa linha e botão em outra)
    */
}

.input-group input[type="text"] {
  margin: 0;
}

.input-group button {
  margin-left: -4px;
}

.input-group label {
  margin-bottom: 0;
  margin-right: 14px;
}


.wd-checkout-basket-discount .description {
  padding: 1em;  
}

.wd-checkout-basket-discount .description input {
  @extend .input-group;
  width: 120px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 3.05em; /* Fazer de um jeito que as medidas de altura entre botão e input fiquem igual, e não só aproximadas, como fiz aqui. */ 
}

.wd-checkout-basket-discount .description button {
  @extend .input-group;
  width: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buscaCepCorreios {
  @extend .btn-text;
  float: left;
}

div.calcular-frete {
  /* Melhorar nome da classe */

  text-align: right;  
}

div.calcular-frete label {
  margin: 0;
  padding: 1em;
  display: inline-block;
  float: left;
  width: 65%;
}

div.calcular-frete span {
  padding-right: 1em;
}

.discounts {
  display: flex;
  padding: 1em;
  width: 100%;
}

.discounts label {
  float: left;
  width: 65%;
  text-align: right;
}

.discounts div {
  width: 35%;
}

.discounts span {
  display: block;
  text-align: right;
  margin-bottom: 6px;
}

.discounts span small {
  display: inline-block;
  margin-right: 6px;
  font-weight: bold;
}

.total-price {
    display: flex;
    padding: 14px 14px 0;
    font-size: 22px;
    border-top: 1px solid $gray-lighter;
}

.total-price label {
  float: left;
  width: 65%;
  text-align: right;
  font-size: rem(20px); 
  padding-top: 6px; /* Fazendo com que o texto fique alinhado à linha de base do preço. Tem forma melhor de fazer isso? */
 }

.total-price span {
  display: block;
  text-align: right;
  width: 35%;
  font-weight: bold;
  color: $success;
  font-size: rem(28px); 
}

.total-price.alternatives {
  font-size: 14px; /* Uma forma rápida de anular o font-size do preço total maior. Pode ser melhor escrito de forma mais elegante */ 
  border: none;
}

.total-price.alternatives span {
  font-size: 14px;  /* Uma forma rápida de anular o font-size do preço total maior. Pode ser melhor escrito de forma mais elegante */ 
  color: #555;
  width: 100%;
  font-weight: normal;
}

.wd-checkout-basket-deliveryoptions .location {
  padding: 1.4em;
  border-bottom: 1px solid $gray-lightest;
}

.wd-checkout-basket-deliveryoptions .types {
  border: 1px solid $gray-lighter;
  margin-bottom: 22px;
  margin-right: 1em;
}

.wd-checkout-basket-deliveryoptions .types li {
  padding: 1.6em 1.6em;
  border-bottom: 1px solid $gray-lightest;
}

.wd-checkout-basket-deliveryoptions .types li:hover, .wd-checkout-basket-deliveryoptions .types li.active {
  background: $gray-lightest;
}

.wd-checkout-basket-deliveryoptions input {
  margin: 0 12px 0 0;
}

.wd-checkout-basket-deliveryoptions .js-delivery-choice .photo {
  margin-bottom: -8px; /* Achar uma forma de centralizar a imagem */
}

.wd-checkout-basket-deliveryoptions .js-delivery-choice span.name {
  display: block;
}

.wd-checkout-basket-deliveryoptions .types p {
  margin-left: 16px;
  line-height: 1.4em;
}

.wd-checkout-basket-deliveryoptions .types li span.quote {
  font-weight: bold;
}

.calcular-frete.frete2 {
    display: none;
}

.fa-times:before {
  content: "\f00d";
  margin-right: 2px;
  font-size: 14px; 
  color: #777; /* */
}

.wd-checkout-basket-grid td.subtotal, .wd-checkout-basket-grid table th.price:last-child {
  padding-right: 42px;
}

.slide-init {
  overflow: hidden;
  display: none;
}

.discount-description {
  @extend .slide-init;
}

span.discount-applied {
  @extend .slide-init;
  width: 100%;
  &.open {
    display: block !important;
  }
}

.delivery-content {
  @extend .slide-init;
  width: 100%;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: $font-family-base;
}

.wd-checkout-basket-gift {
  border-width: 2px 1px 0;
  border-style: solid;
  border-color: $gray-lightest $gray-lighter;
  padding: 2em;
}

.wd-checkout-basket-gift .ui-widget-content .ui-widget-content {
  border: none;
}


.wd-checkout-basket-discount-progressive .wd-header {
  display: none;
}

.wd-checkout-basket-discount-progressive ul {
  margin: 0 0 20px;
}

.wd-checkout-basket-discount-progressive ul li {
  border: none;
  padding: 0;
}

.wd-checkout-basket-discount-progressive ul li .values {
  padding-top: 0px;
  font-size: 14px;
}

.wd-checkout-basket-discount-progressive ul li:first-child {
  background: $gray-lighter;
}

.wd-checkout-basket-discount-progressive ul li:nth-child(2n) {
  background: lighten($gray-lighter, 2%);
}

.wd-checkout-basket-discount-progressive ul li:nth-child(3n) {
  background: lighten($gray-lighter, 6%);
}

.wd-checkout-basket-discount-progressive ul li:nth-child(4n) {
  background: lighten($gray-lighter, 10%);
}

.wd-checkout-basket-discount-progressive ul li.active {
  border-bottom: 3px solid $success;
  color: $success;
}

.wd-checkout-basket-buttons {
  height: 80px;
}

.wd-checkout-basket-buttons button.bt-keep-buying {
  margin-top: 34px;
}

.basket-buttons-top.wd-checkout-basket-buttons button.bt-checkout {
  margin-top: 23px;
}