.basket-buttons-top div.wd-checkout-basket-oneclickbuy {
  margin-top: 23px; /* Para alinha a botão de 1clickbuy. Não sei se precisará escrever isso novamente. */
}

.wd-checkout-basket-grid table {
  color: $text-color; /* Reajustabdo a cor */
}

.wd-checkout-basket-discount-progressive ul {
  margin: 0;
}

.wd-checkout-basket-discount-progressive ul li {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: $gray-lighter;
}

.wd-checkout-basket-discount-progressive ul li:first-child {
  border-width: 1px;
  display: flex; /* Não sei se essa forma de alinhar é suportada pelos browsers a que damos suporte. Reescrever para compatibilidade, se for o caso. */ 
  flex-direction: column;
  justify-content: center; 
  padding: 2em;
  background: $gray-lightest;
}

.wd-checkout-basket-discount-progressive ul li:nth-child(2n),
.wd-checkout-basket-discount-progressive ul li:nth-child(3n),
.wd-checkout-basket-discount-progressive ul li:nth-child(4n) {
  background: $clear; /* Anulando as cores de fundo aplicadas antes */
}

.wd-checkout-basket-discount-progressive ul li .values {
    padding-top: 0px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 1em;
    background: $gray-lightest;
    white-space: nowrap;
}

.wd-checkout-basket-discount-progressive ul li span.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.wd-checkout-basket-discount-progressive ul li span.frase {
  line-height: 1.4em;
}

.wd-checkout-basket-discount-progressive ul li span.money-sign,
.wd-checkout-basket-discount-progressive ul li span.value,
.wd-checkout-basket-discount-progressive ul li span.discount {
  font-weight: bold;
}

.wd-checkout-basket-discount-progressive ul li span.discount {
  font-size: rem(18px);   
}

.wd-checkout-basket-discount-progressive ul li span.sufix {
  font-weight: normal;
  display: block;
  font-size: rem(12px); 
}

.wd-checkout-basket-discount-progressive ul li .warning.active {
  font-size: rem(12px); 
}

.wd-checkout-basket-discount-progressive ul li.active { 
  border: 2px solid $success;
  color: inherit;
}

.wd-checkout-basket-discount-progressive ul li.active  span.discount {
  color: $success;
}

.wd-checkout-basket-discount-progressive {
  margin-bottom: 0;    
}

.wd-checkout-basket-discount-progressive ul li span.warning.box-sizing.active {
  position: absolute;
  top: -26px;
  left: 0;
  height: auto;
  padding: 6px;
  line-height: 1em;
  background: $success;
  outline: 2px solid $success;
 }

 .fa-caret-down:before {
  content: "\f0d7";
}

i.fa.fa-caret-down {
  display: block;
  position: absolute;
  left: 50%;
  color: $success;
  font-size: 20px;
  top: 18px;  
}

 .fa-chevron-right:before {
  content: "\f054";
}

i.fa.fa-chevron-right {
  /* Ver se há uma forma mais enxuta de escrever essa class (nome dela não está semântico por questões de praticidade).
  Troquei a posição das setas em cada etapa com css inline, para agilizar a simulação. */
  border: 1px solid $gray-lighter;
  padding: 5px 7px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: tint($gray-light, $tint);
  position: absolute;
  top: 115px;
  z-index: 1000;
  background: $clear;
  right: 24%; /* Cuidar para a seta ficar bem no meio da linha divisória, nas diversas resoluções. */  
}

.wd-checkout-basket-gift .tabs .divisor .or {
  /* Mesma coisa da classe acima: escrita mais enxuta.
  Notar que as duas tem coisas em comum, então podem virar uma classe mais genérica a ser reaproveitada. */
  border: 1px solid $gray-lighter;
  padding: 8px 6px;
  border-radius: 50%;
  color: tint($gray-light, $tint);
  text-transform: uppercase;
  font-size: 12px;
  background: $clear;
  z-index: 1000;
  position: relative;
  top: -9px;
  right: 14px;
}

.wd-checkout-basket-gift h3 {
  display: inline-block;  
  margin-right: 8px;
}

.wd-checkout-basket-gift .control {
  display: inline-block;
}

.wd-checkout-basket-gift .control .right {
  float: none;
}

.wd-checkout-basket-gift input.without-gift {
  position: relative;
  top: 1px; 
}

.wd-checkout-basket-gift .ui-tabs-nav li {
  line-height: 50px; /* Aqui está fixo porque não achei forma melhor, mas deve se adaptar ao tamnho do <a> que está dentro da aba, assim como as abas no detalhes do produto */ 
  margin-left: 5px; /* Parace já existir uma margin de 5px entre abas (não identifiquei onde), com essa soma 10px. Unificar as duas. */

  /* Aplicar essas 2 propriedades e valores abaixo às abas do Detalhes do produto (Descrição, Detalhes técnicos...)  */
  border-color: $gray-lighter;
  background: $gray-lightest; 
}

.wd-checkout-basket-gift .ui-tabs-nav li:first-child {  
  margin-left: 2em;
}

.wd-checkout-basket-gift .ui-tabs-nav li a {
  font-size: rem(14px); 
  padding: 1.2em 2em; /* Aplicar também esse padding às abas do Detalhes do produto */
  color: $gray;
}

.wd-checkout-basket-gift .tabs.ui-widget-content {
  margin-left: -2em;
  margin-right: -2em;
}

.wd-checkout-basket-gift .tabs.ui-widget-content .ui-widget-content {
  border-top: 1px solid $gray-lighter;
  padding: 2em 2em 0;
}

.wd-checkout-basket-gift .tabs .wd-product-list ul li {
  margin: 0 4em 0 0;  
  border: none;
  width: 20%;
}

.wd-checkout-basket-gift .ui-tabs-nav li.ui-tabs-selected a {
  font-weight: bold;
  color: $text-color;
}

.wd-checkout-basket-gift .ui-tabs-nav li a {
  color: $link-color;
}

.wd-checkout-basket-gift .ui-tabs-nav li a:hover {
  text-decoration: none;
}

.wd-checkout-basket-gift .tabs .wd-product-gift-line .gift-variations select {
  width: 100%;  
}

.wd-checkout-basket-gift .tabs div.current-tab .button.select-gift {
  @extend .btn;
  @extend .btn-outline;
  @extend .btn-wide;
}

.wd-checkout-basket-gift .tabs .divisor {
  right: -60px;
}

.wd-checkout-basket-gift .tabs .divisor .top, .wd-checkout-basket-gift .tabs .divisor .bottom {
  background: $gray-lighter;
}


.info {
  color: $info;
}

div.info {
  @extend .info;
  background: $info-bg;
  border: 1px solid; /* Agregar isso ao padrão dos tipos de mensagem (info, success, alert, danger), podendo ser sobrescrito em alguns casos */
  border-color: darken($info-bg, 10%);
  padding: 1em; /* Padding básico, podendo ser sobrescrito em alguns casos. Agregar isso ao padrão dos tipos de mensagem (info, success, alert, danger) */
  line-height: 1.4em;
}

div.info a {
  color: $info;
  text-decoration: underline;
}

div.info a:hover {
  text-decoration: none;
}

.btn-info {
  background: $info;
  color: $clear;
}

.message-box-without {
   display: none; 
  border: 1px solid;
  @extend div.info;
  border-color: darken($info-bg, 10%); /* Não sei porque não extendeu essa propriedade */
}

.wd-checkout-basket-gift .tabs .wd-product-gift-line .button.select-gift {
  /* Isso é SÓ para quando a aba e o botão estiverem inativos ("Esse brinde pode ser seu") */
    @extend .btn;
    @extend .btn-text;
    text-decoration: none;
    cursor: default;
}

.btn-outline:active, .btn-outline:focus {
  background: shade($gray-lightest, $shade);
  color: $btn-color;
}

.wd-checkout-basket-gift .tabs .message-box {
  color: $text-color;
}

.wd-checkout-basket-gift .tabs .message-box .wrapper {
  position: initial;
  top: initial;
  right: initial;
  width: 560px;
  height: auto;
}

.wd-checkout-basket-gift .tabs .message-box .wrapper.next-range {
  outline: none;
  box-shadow: none;
  @extend div.info;
  padding: 2em;
  text-align: center;
  margin-top: 9em;
}

.wd-checkout-basket-gift .tabs .message-box .wrapper .text {
  font-size: 18px;
  padding-top: 0;
}

.wd-checkout-basket-gift .tabs .message-box .wrapper.next-range .icon {
    display: none;
}

.message-box-without i.fa.fa-times {
  float: right;
}

.message-box-without i.fa.fa-times:before {
  color: $info;
}
 
.product-list-image img {
  width: 100%;
  height: auto;  
} 

.wd-checkout-basket-gift .tabs .wd-product-gift-line {
  padding: 1em;
}

.wd-checkout-basket-gift .tabs div.current-tab .wd-product-gift-line.gift-selected {
  outline: 2px solid $success;
}

.wd-checkout-basket-gift .tabs div.current-tab .wd-product-gift-line.gift-selected a.button.select-gift {
  /* deixa de ser um botão (ou ter essa aparência e comportamento) para ser um label de status. */
  background: $success;
  color: $clear;
  border: none;
  border-radius: 0;
  padding: 6px;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  bottom: -15px;
  width: 116%;
  left: -8%;
  outline: 2px solid $success;
}

.form-reference {
    height: 0; /* Usei isso para o "Você escolher este" ficar colado no final da box .wd-product-gift-line.gift-selected */
}

.wd-checkout-basket-deliveryoptions .types li {
  padding: 1em 1.6em; /* Atualizando */
}

.wd-checkout-basket-deliveryoptions .location {
  padding: 1em 1.4em; /* Atualizando */
}

.wrapper-bottom-basket .column1 {
  width: 40%; /* Atualizando */
}

.wrapper-bottom-basket .column2 {
  width: 60%; /* Atualizando */
}

div.calcular-frete label {
  width: 61%; /* Atualizando. Corrigir um desalinhamento entre esse label e "Descontos" e "Total" */
}

.discounts label {
  width: 60%; /* Atualizando */
}

.discounts div {
  width: 40%; /* Atualizando */  
}

.total-price label {
  width: 60%; /* Atualizando */  
}

.total-price span {
  width: 40%; /* Atualizando */    
}

.wd-checkout-basket-deliveryoptions .types.error {
  background: transparent; /* Anulando coisas desmcecessárias */
  border: none; /* Anulando coisas desmcecessárias */
}

.wd-checkout-basket-deliveryoptions .types.error .error-message {
  margin: 0; /* Anulando coisas desmcecessárias */
  padding: 1em; /* Padding básico. Agregar isso ao padrão dos tipos de mensagem (info, success, alert, danger) */
  @extend div.alert;
}

div.alert i.fa:first-child {
  /* Aplicar essa disposição do ícone inicial para os tipos de mensagem (info, success, alert, danger) */ 
  font-size: 16px; 
  margin-right: 6px;
  margin-left: 6px;
} 

.fa-exclamation-triangle:before {
  content: "\f071"; 
}

.wd-checkout-basket-discount .description input {
  width: 160px;
}

.wd-checkout-basket-grid tr.outofstock, .wd-checkout-basket-grid tr.outofstock td {
  background: $danger-bg; /* Reforçando pois tem coisas bizarras acontecendo com essa cor (.danger) */
}

#cupon-error {
  @extend div.danger;
  /* Repetindo abaixo propriedades do $danger pois estavam acontecendo coisas bizarras */
  background: $danger-bg;
  padding: 1em;
  border: 1px solid; 
  border-color: darken($danger-bg, 5%); /* Danger tem essa peculiridade na corda da borda (5%) em relação aos outros, pois o vermelho é uma cor muito viva e forte */
}

#cupon-error {
  background: $danger-bg;
}

div.danger i.fa:first-child {
  /* Aplicar essa disposição do ícone inicial para os tipos de mensagem (info, success, alert, danger) */ 
  font-size: 16px; 
  margin-right: 6px;
  margin-left: 6px;
} 

.wd-checkout-basket-discount div.input-group {
  margin-bottom: 20px;
} 

.wd-checkout-basket-deliveryoptions div.input-group {
  margin-bottom: 0;
}