body.context-search-.grid-products:not(.area-profile) #middle {
  margin-top: 164px;
} 

#header.header-float #logo a {
    background-position: 12px 27px;
    background-size: 56%;
  }

#header .background {
  border-bottom: none;
}

body.BasketIndexRoute #header .background {
  border-bottom: 1px solid $gray-lighter;
}

.wd-browsing-grid-sorter {
	position: initial;
	float: right;
}

.wd-browsing-grid-sorter span {
    display: inline;
}

.wd-browsing-grid-sorter select {
    display: inline;
    width: 185px;
}

.wd-facet-type-levels .expander:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    background-image: url("https://a3.r9cdn.net/res/images/newImagesStructure/sprites/checkbox/16x16-16-offset-checkbox-sprite.png?v=c85157c57842fa3a7aa3260aeda268adfcafb474");
    background-position: center -30px;
    background-repeat: no-repeat;
    border: none;
}

.wd-browsing-breadcrumbs {
    padding: 1em 0 0;	
}

.wd-browsing-breadcrumbs li {
	position: relative;
	padding: 8px 20px 8px 30px;
	border: 1px solid $gray-lighter;
	border-right: none; 
	margin-left: -5px;
	border-left: none;	
}

.wd-browsing-breadcrumbs li:first-child {
	padding: 8px 20px 8px 18px;
	margin-left: 0;
	border-left: 1px solid $gray-lighter;
}

.wd-browsing-breadcrumbs li:after,
.wd-browsing-breadcrumbs li.last:before	 {
    content: "";
    position: absolute;
    z-index: 1;
    top: 3px;
    right: -12px;
    width: 24px;
    height: 24px;	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid $gray-lighter;
    border-left: none;
    border-bottom: none;
 }  

#left {
 	width: 230px;
 }

body.columns-2-left #content-wrapper {
    margin-left: 260px;
}

.wd-facet-group .facets {
	border-bottom: none;
	border-left: none;
	border-color: $gray-lighter;
    padding-left: 0;
    padding-top: 0;
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th-list:before {
  content: "\f00b";
}	

.grid-view {
	/* só está dentro da tag com resultados por questão de praticidade */
	float: right; 
	font-size: 22px;
}

.grid-view i.fa {
	padding: 4px;
}

.grid-view i.fa.fa-th-list {
	border-right: 1px solid $gray-lighter;	
	padding-right: 12px;
}

.selected-facets.show {
	float: left;
	padding: 8px 0;
}

.selected-facets.show .selected-facet-name {
	font-weight: bold;
	display: inline;
	top: 1px;
    position: relative;
    margin-right: 6px;
}

.selected-facets.show ul {
    display: inline;
}

.selected-facets.show ul li {
    display: inline;
}

.selected-facets.show ul li a {
	font-size: 12px; 
	color: $text-color;
	text-decoration: underline;
}

.selected-facets.show ul li .badge {
	padding-right: 0;
}

.selected-facets.show ul li .badge a {
	text-decoration: none;
    padding: 3px;
    background: darken($success, 5%);
    margin-left: 3px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 5px;
}

.selected-facets.show ul li .badge a i:before {
	color: $clear;
	font-size: 10px;
}	

body.context-search-.grid-products h2 {
	margin-bottom: 14px;
}

.badge {
	margin-right: 8px;
}

.wd-browsing-grid-list {
	padding: 14px 0;
	margin-top: 0;
}

.wd-facet-group .facets .facet-type .facet-type-list .facet-title:before {
    display: none;
}

.wd-facet-group .facets .facet-type {
    margin: 0;
}

.wd-facet-group .facets .facet-type .facet-type-list .facet-title {
    padding: 1em;
    padding-left: 0;
    position: relative;
}    

h3.filtrar {
    padding: 1em;   
    padding-left: 0; 
}

.wd-facet-group .facets .facet-type .facet-type-list .facet-title:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f077";
    font-size: 10px; 
    position: absolute;
    top: 16px;
    right: 3px;
    color: #555;
}

.wd-facet-group .facets .facet-type .facet-type-list .facet-title.facet-closed:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f078";
    font-size: 10px; 
    position: absolute;
    top: 16px;
    right: 3px;
    color: #555;
}

.wd-facet-group .facets .facet-type.last {
    margin-bottom: 1em;
}

.wd-facet-group .facets .facet-type .facet-type-list ul {
    padding: 0em 1em 1.6em 0;
}

.wd-facet-group .facets .facet-type .facet-type-list ul li {
    margin-bottom: .2em;    
}

.wd-facet-group .facets .facet-type .facet-type-list ul.scroll {
    height: 190px;
    overflow: scroll;
    overflow-x: hidden;
}

.wd-facet-type-levels .expander {
    top: -1px;
    left: -26px;
}

.wd-facet-group .facets .facet-type .facet-type-list .option-count {
    font-size: 12px;
}

.wd-facet-group .facets h3, .wd-facet-group .facets h4 {
    position: relative;
}

.wd-facet-group .facets .facet-type .facet-type-list a {
    padding: 0.2em 2em;
    display: block;
    color: $text-color;
}

.wd-facet-group .facets .facet-type .facet-type-list .option-title {
    color: $text-color;
}

.wd-facet-group .facets .facet-type .facet-type-list a:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    /* Essa imagem abaixo foi pega "emprestada" de um site para fins de prototipação. Tem que ser elaborado uma específica para nosso uso. */
    background-image: url("https://a3.r9cdn.net/res/images/newImagesStructure/sprites/checkbox/16x16-16-offset-checkbox-sprite.png?v=c85157c57842fa3a7aa3260aeda268adfcafb474");
    background-position: center -60px;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    left: 2px;
    top: 2px;
}

.wd-facet-group .facets .facet-type .facet-type-list a:hover {
    text-decoration: none;
    background-color: $gray-lightest;
}

.wd-facet-group .facets .facet-type .facet-type-list a.selected {
    background-color: $success-bg;
}

.wd-facet-group .facets .facet-type .facet-type-list a.selected:hover {
    background: $danger-bg;
    color: danger;
}

.wd-facet-group .facets .facet-type .facet-type-list .selected .option-title,
.wd-facet-group .facets .facet-type .facet-type-list .selected .option-count {
    color: inherit;
}

.wd-facet-group .facets .facet-type .facet-type-list a.selected:before {
    background-position: center -30px;    
}

.wd-facet-group .facets .facet-type.links .facet-type-list .option-title {
    color: $link-color;
}

.wd-facet-group .facets .facet-type.links .facet-type-list a {
    padding-left: 0em;
}

.wd-facet-group .facets .facet-type.links .facet-type-list a.selected {
    background: transparent;    
}

.wd-facet-group .facets .facet-type.links .facet-type-list a:before {
    background: none;    
}

.wd-facet-group .facets .facet-type .facet-type-list div.search input {
    font-size: 12px;
    margin-bottom: 1em;
}

.wd-facet-group .facets .facet-type .facet-type-list .facet-title.facet-closed+div {
    display: none;
}

span.option-color {
    width: 16px;
    height: 16px;
    background: transparent;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 1px;
    margin-right: 2px;
}

.wd-facet-group .facets .facet-type.colors-square .facet-type-list ul li {
    display: inline;
}

.wd-facet-group .facets .facet-type.colors-square .facet-type-list ul li h4  {
    display: inline;
}

.wd-facet-group .facets .facet-type.colors-square .facet-type-list a {
    display: inline-block;
    background: $gray-lightest;
    padding: 0;
    width: 30px;
    height: 30px;
}

.wd-facet-group .facets .facet-type.colors-square .facet-type-list a.selected {
    background: $gray-lighter;
}

.wd-facet-group .facets .facet-type.colors-square .facet-type-list a:before {
    background: none;
}

.wd-facet-group .facets .facet-type.colors-square .facet-type-list .option-title,
.wd-facet-group .facets .facet-type.colors-square .facet-type-list .option-count {
    display: none;
}

.wd-checkout-basket-oneclickbuy .btn-basket-oneclickbuy {
    height: 59px;    
}

.btn-outline.pague-com-paypal {
    margin-top: -4px;
    background-image: url("http://www.bingo.org/wp-content/uploads/2015/01/Paypal-Logo-Transparent-png-format-large-size.png");
    margin-top: -4px;
    background-image: url("http://www.bingo.org/wp-content/uploads/2015/01/Paypal-Logo-Transparent-png-format-large-size.png");
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: 131px center;
    padding-right: 8em;
    border: 1px solid #113885;
    color: #113984;
}

.basket-buttons-top div.wd-checkout-basket-oneclickbuy {
    margin-top: 24px;
}

.btn-outline.pague-com-mercado-pago {
    margin-top: -4px;
    background-image: url("https://www.mercadopago.com/org-img/MP3/home/logo-mercadopago.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 136px center;
    padding-right: 8em;
    border: 1px solid #00238F;
    color: #00238F;
}

.wd-checkout-basket-grid .wd-product-additional-services {
    background: $gray-lightest;
    padding: 14px;
    padding-right: 18px;
    border: 1px dashed $gray-lighter;
}

.wd-checkout-basket-grid td div.data span.badge {
    margin-bottom: 6px;
}

.wd-checkout-basket-grid td.product div.wd-product-additional-services {
    display: inline-block;
}

.wd-checkout-basket-grid td.price > div {
    font-size: 14px;
}

.wd-checkout-basket-grid td.price del {
    text-decoration: initial;
    font-size: 12px;
    color: #999;
}

.wd-checkout-basket-grid td.subtotal > div del {
    text-decoration: initial;
    color: #999;
}

.wd-checkout-basket-grid .quantity p:first-child.status-item-messages {
    font-size: 14px;
}

.wd-checkout-basket-grid .flag-out-of-stock {
    font-size: 14px;    
}

.wd-checkout-basket-grid tr.nested td.price > div {
    font-size: 12px;
}

.wd-checkout-basket-grid .price del, .wd-checkout-basket-grid td.subtotal > div del  {
    margin: 4px 0;
}

small.points {
    display: inline-block;
    margin: 6px 0;
}   

.fa-calendar:before {
    content: "\f073";
    margin-right: 2px;
    font-size: 14px;
}

.fa-arrows-v:before {
    content: "\f07d";
    position: absolute;
    top: 107px;
    font-size: 18px;
    left: 20px;
    color: #999;
}

.fa-arrows-v:after {
    content: "Vendidos em conjunto";
    position: absolute;
    top: 105px;
    font-size: 12px;
    left: 29px;
    font-family: sans-serif;
    width: 133px;
    background: #fff;
    padding: 5px;
    color: #999;
}

.fa-history:before { 
    content: "\f1da";
    margin-right: 2px;
    font-size: 18px;
    color: #999;
}

.fa-history {
    position: absolute;
    top: 14px;
    left: 14px;
    cursor: pointer;
}

.wd-checkout-basket-grid .quantity .change {
    /* A fim de alinhar melhor o box de qtde. com os preços */
    margin-top: 48px;
}
 
.baloon.alert.msg1 {
    top: -18px;
}

.wd-checkout-basket-grid tr.partiallyoutofstock  .quantity .change {
    margin-top: 0;
}

.wd-checkout-basket-grid tr.nested td.quantity .change {
    margin-top: 0;
    margin-left: 24px;
}

.wd-checkout-basket-grid button.btn.remove.js-remove {
    margin-bottom: 0;
}

.wd-checkout-basket-grid td div.data span.badge {
    margin-bottom: 2px;
}

div#wd38 {
    display: none;
}

.divisor-line {
    border-top: 1px dashed #dfdfdf;
    width: 100%;
    float: right;
}

.wd-checkout-basket-deliveryoptions .description {
    border-top: none;
}

.total-price {
    border-top-width: 2px;
}

div.points {
    padding-top: 14px;
}

.discounts span {
    margin-bottom: 0px;
}

div.calcular-frete label, .discounts label, .total-price label {
    font-weight: bold;
}

.discount-applied .fa-tag:before {
    font-size: 14px;
    margin-right: 2px;
}

.fa-times:before {
    color: #0A7ACA;
}

span.previsao {
    float: left;
    width: 180px;
}

.wd-checkout-basket-deliveryoptions input {
    vertical-align: top;
    margin-top: 10px;
}

.wd-checkout-basket-deliveryoptions .js-delivery-choice .photo {
    vertical-align: top;
    margin-top: 2px;
}

.calcular-frete small {
    margin-bottom: 14px;
}