/*
=============================
Custom 2: MAIS coisas que não entraram nos outros arquivos SCSS.
============================= */

.wd-checkout-basket-grid table {
  font-size: 12px;
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  color: $gray-light;
  margin-bottom: 20px;
}

.wd-checkout-basket-grid table tbody {
  background: $clear;
}

.wd-checkout-basket-grid table th {
  border-width: 1px 0 0;
  border-color: $gray-lighter;
  padding: 16px 26px;
}

.wd-checkout-basket-grid table tfoot td {
  border-width: 0 0 1px;
  border-color: $gray-lighter;
}

.wd-checkout-basket-grid table th.quantity {
  width: 170px;
}

.wd-checkout-basket-grid table th.price:last-child {
  text-align: right;
}

.wd-checkout-basket-grid table td, .wd-checkout-basket-grid table tbody tr td {
  border-width: 1px 0;
  border-color: $gray-lightest;
  padding: 20px 26px;
}

.wd-checkout-basket-grid td>div {
  padding: 0;
}

.wd-checkout-basket-grid td.subtotal>div {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

.wd-checkout-basket-grid td.subtotal>div del {
  display: block;
  margin: 5px 0;
  font-size: 12px;
}

.wd-checkout-basket-grid td.price>div {
  white-space: nowrap;
}

.wd-checkout-basket-grid td.price del {
  /* Quando tem um De/Por. O preço De fica riscado com font-weight normal, e o preço Por fica em negrito. Ver como aplicar isso. */
}

.wd-checkout-basket-grid td.product {
    background: transparent;
}

.wd-checkout-basket-grid td.product div {
  display: table;
}

.wd-checkout-basket-grid td .photo {
  width: 100px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.wd-checkout-basket-grid a.photo {
  margin-right: 16px;
}

.wd-checkout-basket-grid a.photo img {
  max-width: 100px;
  max-height: 100px;
}

.wd-checkout-basket-grid tr.nested td {
  padding: 10px 20px;
}

.wd-checkout-basket-grid tr.nested td div.data>a:first-child {
  font-size: 12px;
  margin-bottom: 0;
}

.wd-checkout-basket-grid tr.nested td .photo {
  width: 130px;
}

.wd-checkout-basket-grid tr.nested td a.photo img {
  max-width: 50px;
  max-height: 50px;
}


.wd-checkout-basket-grid tr.nested td.subtotal>div {
  display: none;
}

.wd-checkout-basket-grid td div.data {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5em;
}

.wd-checkout-basket-grid td div.data>a:first-child {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.wd-checkout-basket-grid td div.data span {
  display: block;
}

.wd-checkout-basket-grid .skuoptions, .wd-checkout-basket-grid .skuoptions-option {
  margin-top: 0;
}

.wd-checkout-basket-grid .quantity .change {
  margin: 0;
}

.wd-checkout-basket-grid .quantity .change button  {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  color: $link-color;
  padding: 0.71em 0.9em; /* Ainda não está exatamente do mesmo tam. dos botões de + e -. Aqui dá pra fazer a altura do botão e input de uma forma mais simples. */
  font-weight: normal;
  width: 34px;
}

.wd-checkout-basket-grid .quantity .change button.js-qty-less {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wd-checkout-basket-grid .quantity .change button.js-qty-more {
  margin-left: -9px; /* Dá pra melhorar a forma de posicionar elementos pré e pós input (inpout group) */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wd-checkout-basket-grid button.btn.remove.js-remove {
  background: $clear;
  color: $link-color;
  font-weight: normal;
  font-size: 12px;
  margin: 10px 0;
}

.wd-checkout-basket-grid .quantity .change input {
  width: 50px;
  border-radius: 0;
  margin-left: -4px;
}

.wd-checkout-basket-grid .quantity .change input:focus {
  border-color: shade($gray-lighter, $shade);
}

.wd-checkout-basket-grid table tfoot td {
  font-size: 14px;
  font-weight: normal;
}

.wd-checkout-basket-grid table tfoot td.subtotal {
  font-weight: bold;
}

.wd-checkout-basket-grid span.warning {
  @extend .alert;
  display: block;
}

.wd-checkout-basket-grid span.seller {
  display: block;
}

.badge {
  background: $gray-light;
  color: $clear;
  font-size: rem(11px);
  padding: 0.2em 0.6em;
  margin: 0;
  border-radius: 4px;
  text-shadow: none;
  text-align: center;
  display: inline-block;
  line-height: 1.6em;
  white-space: nowrap;
  text-transform: uppercase;
}

/* Os seletores de success, info, alert e danger tem algumas coisas em comum .*/

.success {
  color: $success;
}

div.success {
  @extend .success;
  background: $success-bg;
  border-color: darken($success-bg, 10%);
}

div.success a {
  color: $success;
  text-decoration: underline;
}

div.success a:hover {
  text-decoration: none;
}

.btn-success {
  background: $success;
  color: $clear;
}

.alert {
  color: $alert;
}

div.alert {
  @extend .alert;
  background: $alert-bg;
  border-color: darken($alert-bg, 10%);
}

div.alert a {
  color: $alert;
  text-decoration: underline;
}

div.alert a:hover {
  text-decoration: none;
}

.danger {
  color: $danger;
  background: $danger-bg;
}

div.danger {
  @extend .danger;
  background: $danger-bg;
  border-color: darken($danger-bg, 5%);
}

div.danger a {
  color: $danger;
  text-decoration: underline;
}

div.danger a:hover {
  text-decoration: none;
}

div.danger button, div.danger .btn {
  color: $clear;
  background: $danger;
}

/* Essa parte do hover e active abaixo deve ser melhor escrita, usando nesting que não aconsegui aplicar; */

div.danger button:hover, div.danger .btn:hover, div.danger button:focus, div.danger .btn:focus {
  /*background-color: tint($danger, $tint);*/
}

div.danger button:active, div.danger .btn:active {
  background-color: shade($danger, $tint/2);
}


.badge.success  {
  background: $success;
  color: $clear;
}

.wd-checkout-basket-grid td div.data span.badge {
  margin-top: 8px;
  display: inline-block;
}

/* O outofstock e partiallyoutofstock tem muita coisa em comum, então dá pra resumir isso que está escrito abaixo. */

.wd-checkout-basket-grid tr.outofstock, .wd-checkout-basket-grid tr.outofstock td {
  @extend div.danger;
  border-width: 2px 0;
  border-style: solid;
}

.wd-checkout-basket-grid .flag-out-of-stock {
  color: $danger;
  background: transparent;
  font-weight: bold;
}

.wd-checkout-basket-grid .outofstock .quantity a {
  margin: 0;
  float: none;
  display: inline-block;
  color: $danger;
}

.wd-checkout-basket-grid .outofstock .quantity a.remove-out-of-stock-item {
  /* Esse botão tem propriedades semelhantes ao remover normal (quando há estoque). Poderia também aproveitar melhor as propriedades do .btn */
  @extend .btn-small;
  margin: 10px 0;
  background: $danger;
  text-decoration: none;
  color: $clear;
  border-radius: $border-radius-base;
}

.wd-checkout-basket-grid .outofstock .quantity a.choose-other-product {
  /* Mudar o texto desse link para "Escolher outro produto" */
  font-size: 12px;
}


.wd-checkout-basket-grid tr.partiallyoutofstock, .wd-checkout-basket-grid tr.partiallyoutofstock td {
  @extend div.alert;
  border-width: 2px 0;
  border-style: solid;
}

.wd-checkout-basket-grid tr.partiallyoutofstock td a {
  color: $alert;
}

.wd-checkout-basket {
  .loading {
    @include loading(48px);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0;
  }
}

.wd-checkout-basket-grid tr.partiallyoutofstock td a:hover {
  text-decoration: none;
}

.wd-checkout-basket-grid tr.partiallyoutofstock .quantity .change button {
  color: $alert;
}

.wd-checkout-basket-grid tr.partiallyoutofstock .quantity button.remove {
  @extend .btn-small;
  background: $alert;
  color: $clear;
}

.wd-checkout-basket-grid .status-item-messages {
  font-size: rem(12px);
}

.wd-checkout-basket-grid .quantity p:first-child.status-item-messages {
  font-weight: bold;
  color: $alert;
  margin-top: 0;
}

.keep-product {
  display: block;
}

.wd-checkout-basket-grid .warning-out-of-stock {
  @extend div.danger;
  padding: 2.2em 2.6em;
}

.wd-checkout-basket-grid .warning-out-of-stock .warning-title, .wd-checkout-basket-grid .warning-out-of-stock .warning-text {
  color: inherit;
}

.wd-checkout-basket-grid .warning-out-of-stock .warning-title {
  font-size: rem(32px);
  margin-bottom: 14px;
}

.wd-checkout-basket-grid .warning-out-of-stock .warning-text {
  font-size: rem(14px);
  margin: 0.55em 0;
}

.wd-checkout-basket-grid .warning-out-of-stock a:last-child {
  @extend div.danger;
  @extend .btn;
  position: relative;
  bottom: initial;
  right: initial;
  text-decoration: none;
  margin-top: 12px;
  height: 40px; /* Usei essa altura fixa pois estava cortando parte do botão, mas deve ser aplicado algo mais elegante. */
  width: auto;
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.wd-checkout-basket-oneclickbuy .btn-basket-oneclickbuy {
  display: block !important; /* Usado somente nessa etapa para o botão ficar sempre visível */

  /* Padding e Height forçando a barra pro botão ficar do mesmo tamanho. Elegância aqui é requisitada! */
  padding: 0.1em 2em;
  height: 57px;
  @extend .btn-big;
}

.wd-checkout-basket-buttons {
  height: 57px;
}

.basket-buttons-bottom.wd-checkout-basket-buttons {
  height: 80px;
}

.wd-checkout-basket-buttons button {
  margin-left: 16px;
}

.wd-checkout-basket-buttons button.bt-clear-basket {
  display: none; /* Forcei a disparição desse botão aqui para ele ser mostrado em outro lugar. Ver carrinho.html */
}

.wd-checkout-basket-grid button.bt-clear-basket {
  @extend .btn-small;
  @extend .btn-text;
  display: block;
}

.fa-trash-o:before {
  /* Mostrar esse ícone junto à classe ao botão .bt-clear-basket */
  content: "\f014";
  font-size: 14px;
  margin-right: 2px;
}

button.btn-outline {
  /* Criar essa classe com essas propriedades para usar como @extend no botão de continuar comprando. Não consegui aplicar. */
  background: $clear;
  border: 1px solid $btn-color;
  color: $btn-color;
}

.wd-checkout-basket-buttons button.bt-keep-buying {
  float: left;
  margin-left: 0;
  box-sizing: border-box; /* Não funcionou o lance de as bordar ficarem pra dentro. Como faz?*/
  background: $clear;
  border: 1px solid $btn-color;
  color: $btn-color;
  margin-top: 13px;
}

.basket-buttons-bottom.wd-checkout-basket-buttons button.bt-keep-buying {
  margin-top: 0;
}

.fa-arrow-left:before {
  content: "\f060";
  margin-right: 4px; /* Padronizar esse espaçamento dos ícones dentro dos botões, proporcinalmente de acordo com o seu tamanho (small, big...)  */
  margin-left: -8px;
}

.wd-checkout-basket-buttons button.bt-checkout {
  @extend .btn-big;
  @extend .btn-success;
  float: right;
  &:hover {
    background-color: tint( $success, $tint);
  }
  &:active,&.btn-active {
    background-color: shade( $success, $tint/2);
  }
}

.wd-checkout-basket-buttons button.bt-checkout small {
  display: block;
  position: relative;
  top: -60px;
  height: 0;
  color: #999;
}

.basket-buttons-bottom.wd-checkout-basket-buttons button.bt-checkout small {
  top: 25px;
}

.fa-lock:before {
  content: "\f023";
  margin-right: 2px; /* Ver .fa-trash-o:before para padronização do ícone em relação ao texto small */
  font-size: 14px; /* idem */
  color: $success;
}



/* Chamei os arquivos do FontAwesome pois estavam com algum problema, Dá pra apagar essas linhas abaixo */
@font-face {
  font-family: 'FontAwesome';
  src: url('http://s02.reference.ezcdn.com.br/custom/content/themes/Reference/Styles/Fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('http://s02.reference.ezcdn.com.br/custom/content/themes/Reference/Styles/Fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format("embedded-opentype"), url('http://s02.reference.ezcdn.com.br/custom/content/themes/Reference/Styles/Fonts/fontawesome-webfont.woff?v=4.3.0') format("woff"), url('http://s02.reference.ezcdn.com.br/custom/content/themes/Reference/Styles/Fonts/fontawesome-webfont.ttf?v=4.3.0') format("truetype"), url('http://s01.reference.ezcdn.com.br/custom/content/themes/Reference/Styles/Fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format("svg");
  font-weight: normal;
  font-style: normal; }
