/*
=============================
Custom: coisas que não entraram nos outros arquivos SCSS.
============================= */

.wrapper-top, #header .main-bar {
  width: $media-width;
  margin: 0 auto;
}

.wrapper-top {
  height: 111px;
}

.wrapper-menu {
  border-width: 1px 0;
  border-style: solid;
  border-color: $gray-lighter;
}

.wd-marketing-banner {
  height: 370px !important; /* A altura é configurada em algum lugar no admin, mas aqui está fixa pois não encontrei onde alterar isso. */
  background: $gray-lighter; /* Cor arbitrária de fundo para banner. A ideia é que exista uma padrão que possa ser sobreposta pelo cor de fundo de cada banner */
}

.wd-search form input[type='text'], .input-email-marketing-newsletter input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-button-marketing-newsletter button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.all-category .dropdown-icon:before {
  border-top-color: $link-color;
}

body #middle {
  width: $media-width;
}

body.HomeRoute #middle, body.HomeRoute article {
  width: 100%;
  max-width: 100%;
}

article, .wd-descriptions {
  max-width: $media-width;
}

article .wrapper {
  box-shadow: none;
}

article .information .wd-product-information {
  border: none;
}

article .information .wd-product-information dd {
  display: block;
  float: none;
  font-size: 14px;
  margin: 0 3px 5px 0px;
  border: none;
}

.row {
  margin-bottom: 10px;
}

.video-wrapp {
  display: none; /* Ocultado até melhor tratamento */
}

.wd-product-variations .title {
  border-bottom: none;
}

article .information .wd-buy-button .btn-buy:before {
  right: 64%;
}

article .wd-product-payment-options button {
  color: $link-color;
  margin-top: 14px;
}

article .wd-product-deliveryfee label {
  font-weight: bold;
  width: 230px;
}

article .wd-product-deliveryfee input {
  height: auto;
  padding: 10px;
  width: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

article .wd-product-deliveryfee button {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
}

.tab-content, .wd-descriptions .wd-content {
  box-shadow: none;
  border: 1px solid $gray-lighter;
  margin-top: -1px;
}

.tab-active a, .tab-nav li:active a, .wd-descriptions .wd-descriptions-nav li:active a, .wd-descriptions .wd-descriptions-nav .wd-selected a {
  border: 1px solid $gray-lighter;
  box-shadow: none;
  color: $gray;
  top: 0px;
  position: relative;
  z-index: 1001;
  border-bottom: none;
  font-weight: bold;
}

.tab-nav li a, .wd-descriptions .wd-descriptions-nav li a {
  font-size: rem(14px);
  border-radius: 4px 4px 0 0;
  margin-right: 10px;
  text-transform: none;
  padding: 1.2em 1.6em;
  color: $link-color;
  background: $gray-lightest;
  position: relative;
  bottom: 1px;
  font-weight: normal;
}

.tab-nav li a:hover, .wd-descriptions .wd-descriptions-nav li a:hover {
  color: $link-color;
}

.wd-product-reviews.wd-product-reviews-list.wd-widget .wd-header .review-create {
  @extend .btn;
  float: right;
}

.wd-product-reviews .wd-product-reviews-list {
  box-shadow: none;
}

.panel, .wd-browsing-product-carousel.wd-widget, .wd-product-list.wd-widget, .wd-product-reviews .wd-product-reviews-list, .wd-browsing-grid-list, .wd-facet-group .facet-type-selected, .wd-facet-group .facets, .wd-browsing-grid .finded-term, #left .wd-category-menu.wd-widget, .authentication-modal .wd-profile-login, .authentication-modal .register, .page-login .wd-profile-login, .page-login .register, .OneStepCheckoutReceiptStep .wd-checkout-ordernumber, .OneStepCheckoutReceiptStep .wd-checkout-paymentmessage, .OneStepCheckoutReceiptStep .wd-checkout-basket-summary, .OneStepCheckoutReceiptStep .wd-checkout-orderdeliveryaddress, .OneStepCheckoutReceiptStep .wd-checkout-orderpayment, .OneStepCheckoutReceiptStep .wd-checkout-ordertracking.wd-widget, .area-profile section#middle .wd-profile-panelmenu.wd-widget, .area-profile section#middle .wd-widget, #cboxLoadedContent {
  box-shadow: none !important;
}

#cboxLoadedContent {
  outline: none;
  border-radius: $border-radius-base;
}

#cboxLoadedContent .wd-header {
  background: $gray-lightest;
  padding: 1.4rem 4rem 1.4rem 1.4rem;
  border-bottom: 1px solid $gray-lighter;
  font-size: 20px;
  color: $title-color;
}

#cboxLoadedContent .wd-content {
    padding: 1.6em 0.4em;
}

#cboxClose {
  color: $gray;
  top: 16px;
  right: 32px;
  width: 69px;
  height: 69px;
  line-height: 69px;
  border-left: 1px solid $gray-lighter;
  border-top-right-radius: $border-radius-base;
}

#cboxClose:hover {
  background-color: $gray-lighter;
  color: $gray;
}