$brand-primary-color: #0A7ACA;
$brand-secondary-color: $brand-primary-color;

$gray-base: #000;
$gray-lightest: lighten($gray-base, 96.5%);

$alert: #A15F00;
$alert-bg: #FFFDF0;

@import "./styleguide/lib/bourbon/app/assets/stylesheets/bourbon";
@import "./styleguide/lib/ui";
@import "layout-vars";
@import "structure";
@import "footer";
@import "header";
@import "widgets";
@import "page-login";
@import "checkout";
@import "panel";
@import "hacks";
@import "newmodal";
@import "mobile";
@import "loading";

body {
	background-color: $bg-color;
	&.HomeRoute {
		.wd-browsing-breadcrumbs {
			display: none;
		}
	}
}
.wrapper {
	@include clearfix;
}

body:not(.area-profile) #middle {
	@include outer-container;
	@include clearfix;
	margin-top:$header-height - 10;
}
body #middle {
	@include outer-container;
	@include clearfix;
	margin-top:$header-height;
}
body.context-landing-SelectVariationRoute #middle {
	margin-top:0;
}
body.grid-empty {
	#content-wrapper {
		.wd-browsing-grid {
			.wd-header {
				display: none;
			}
		}
	}
}

#left{padding:0;}
#right{padding:0;}

/* Solução provisória enquanto não refatoramos as modais | giovanni 23-03-15 */
#cboxLoadedContent {
	border-width: 3px 0 0;
	outline: 1px solid $gray-lighter;

	@extend .panel;
	.wd-header {
		@extend .panel-header;
	}


	/* Error modal */
	.alert .message {
		height: 120px;
		line-height: 146px;

	}
	.button-wrapper{
		a{
			&.btn{@extend .btn;}
			&.btn-huge{@extend .btn-huge;}
			&.btn-wide{@extend .btn-wide;}
		}
		button:first-child{
			float: left;
		}
		button:last-child{
			float: right;
		}
	}
}

.wd-marketing-banner.middle-banner {
	@include row;
	.banner-wrapper {
		@include span-columns(4 of 12);
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

span.error {
	position: absolute;
	background-color: $alert; /* É erro ou alerta? Melhorar semântica da class. */
	font-size: .9em;
	padding: 10px;
	z-index: 1000;
}

img{text-indent:-99999px;}

button.btn-buy[style] {
	display: block;
	// margin:20px 0;
}

html body[class*='context-product'] #main[class*='context-product'] #content #content-wrapper article .head .information .wrapper .row .coluna .wd-buy-button button.btn-buy[style] {
  display: block;
}

@import "custom2.scss";
@import "custom3.scss";
@import "custom4.scss";
@import "custom5.scss";
@import "custom6.scss";